{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="middle_slogan_wrapper">
	<div class="middle_slogan">
		<img src="img/slogan.svg" alt="">
	</div>
</div>


<div class="kid_image">

</div>



<div class="members">

	<div class="members_title">
		<h6>夥伴成員</h6>
		<div class="l-l"></div>
	</div>

	<div class="members_row">
		<div class="members_item">
			<img src="img/member_01.jpg" alt="">
			<div class="des">
				<h6>趙婉娟</h6>
				<p>社團法人新竹市教保人員協會理事長</p>
				<p>社團法人台灣亞洲學前教育培訓協會理事長</p>
				<p>清華大學幼兒教育學系兼任講師</p>
				<p>清華大學園長訓練班講師</p>
				<p>教育部課綱宣講及輔導老師</p>
				<div class="more_resume">
					<h6>教授科目</h6>
					<p>幼兒園行政；托育機構經營與管理；幼兒園課程設計；</p>
					<p>幼兒園課室經營；幼兒遊戲；幼兒園環境設計</p>
					<p>幼兒行為觀察；幼兒行為輔導；幼兒園教育實習；</p>
					<p>嬰幼兒保育實習；幼兒科學與數學探索課程；</p>
					<p>幼兒數與自然教材教法；</p>
					<h6>培訓經歷</h6>
					<p>2016東方劍橋教育集團蒙特梭利導師認證培訓班(南京)</p>
					<p>2017東方劍橋教育集團建構式蒙氏課程培訓班(北京)</p>
					<p>2017廣東省番禺區2017年幼兒園骨幹園長教師培訓</p>
					<p>2018四川內江宋慶齡幼兒園開幕闖關活動教師培訓</p>
					<p>2018廣州番禺幼兒園課程建構與幼兒遊戲活動的組織與實施</p>

				</div>



			</div>
		</div>

		<div class="members_item">
			<img src="img/member_02.jpg" alt="">
			<div class="des">
				<h6>徐璽</h6>
				<p>凡止文創有限公司設計總監</p>
				<p>徐璽設計工作室負責人</p>
				<div class="more_resume">
					<h6>任教</h6>
					<p>真理大學人文與資訊學系 兼任副教授</p>
					<p>中華民國農民團體幹部聯合訓練協會 講師</p>
					<p>台灣大學生物產業傳播暨發展學系 兼任講師</p>

					<h6>教授科目</h6>
					<p>設計基礎、視覺傳達、美學養成、商品陳列設計</p>

				</div>

			</div>
		</div>
	</div>



</div>






<div class="clear"></div>









{% endblock %}