{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>

<div class="main_content">
	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<h2>學生營隊學習</h2>

				<ul>
					<li>針對個別化學生需求，規劃藝文、科技、語言、創意等課程營隊。</li>
					<li>規劃海內外營隊和教育機構讓學生到國外，實際體驗與國內不同的文化，讓學生視野更加開闊。</li>
					<li>安排高比例生活輔導老師隨行輔導關切。</li>
				</ul>

			</div>
		</div>

        <div class="slash_bg">
            <img src="img/wisdom/wisdom_logo-3.png" alt="" style="width: 300px">
            <h6>哲哲學苑</h6>
        </div>



        <div class="still_video">

			<div class="still_video_row">
				<div class="act_name">
					2020哲哲學苑夏令營
				</div>

				<div class="act_video-row">
					<div class="" >
						<img src="img/wisdom/liuxia-2020.jpg" alt="">
						<!-- <p>2020哲哲學苑夏令營</p> -->
					</div>					
				</div>
			</div>
		</div>

		<div style="width: 100%; height: 150px;"><br><br><br></div>	

		<div class="slash_bg">
            <img src="img/sc-1.png" alt="">
            <h6>夏哲森Summer Castle幼兒園</h6>
        </div>

		<div class="still_video">

			<div class="still_video_row">
				<div class="act_name">
					學生活動營隊
				</div>

				<div class="act_video-row">
					<div class="video_item-sd js-open-video-b5 hover-finger" >
						<img src="img/v-05.jpg" alt="">
						<p>新生體驗</p>
					</div>					

					<div class="video_item-sd js-open-video-b6 hover-finger" >
						<img src="img/v-06.jpg" alt="">
						<p>顏色派對</p>
					</div>
				</div>
			</div>


			<div class="still_video_row">
				<div class="act_name">
					STEAM泡泡科學活動
				</div>
				
				<div class="act_video-row">
					<div class="video_item-sd js-open-video-b2 hover-finger" >
						<img src="img/v-02.jpg" alt="">
						<p>STEAM泡泡科學營</p>	
					</div>					

					<div class="video_item-sd js-open-video-b7 hover-finger" >
						<img src="img/v-07.jpg" alt="">
						<p>STREAM泡泡科學營</p>
					</div>
				</div>
			</div>


            <div class="still_video_row">
                <div class="act_name">
                    轉轉機器人
                </div>
                
                <div class="act_video-row">
                    <div class="video_item-sd js-open-video-b8 hover-finger" >
                        <img src="img/v-08.jpg" alt="">
                        <p>轉轉機器人</p>   
                    </div>                  

                    
                </div>
            </div>

		</div>

	</div>


</div>

{% include '_partial/popup-video.twig' %}





{% endblock %}