{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_wls"></div>


<div class="main_content">

	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
		
				<img src="img/wls_01.jpg" alt="" style="display:block; width: 95%; margin: 30px auto">
				<img src="img/wls_02.jpg" alt="" style="display:block; width: 95%; margin: 30px auto">
				<img src="img/comingsoon.jpg" alt="" style="display:block; width: 95%; margin: 30px auto">
			</div>
		</div>

	</div>



</div>




<div class="clear"></div>









{% endblock %}