{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>


<div class="main_content">
	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<h2>學生營隊學習</h2>

				<ul>
					<li>針對個別化學生需求，規劃藝文、科技、語言、創意等課程營隊。</li>
					<li>規劃海內外營隊和教育機構讓學生到國外，實際體驗與國內不同的文化，讓學生視野更加開闊。</li>
					<li>安排高比例生活輔導老師隨行輔導關切。</li>
				</ul>

			</div>
		</div>

	</div>



</div>









{% endblock %}