{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<div class="summer_castle">
					<img src="img/sc-1.png" alt="">

					<p>夏哲森幼兒園</p>
					<p>童年藝森活園地</p>
					<br><br>
					<p>我們把大自然的故事敘述</p>
					<p>於是有了這裡的想像</p>
					<br><br>

					<p>我們把教育的心願種下</p>
					<p>於是有了這裡的築夢地</p>
					<br>

					<p>我們把童年的畫卷展開</p>
					<p>於是有了這畝喜悅心田</p>
					<br>
					<p>陽光、綠樹與小天使相伴</p>
					<p>鳥語花草新森活與你分享</p>
					<p>於是有了夏哲森的優雅</p>


					<div class="fb">
						<a href="https://www.facebook.com/SummerCastleHCT/" target="_blank" class="fb"><i class="fab fa-facebook-f"></i></a></div>
					</div>



					<!-- <div class="vidoe_row">

						<a class="tag_item link-open-popup js-open-notice-popup"
		                    data-action="click_link"
		                    data-label="活動注意事項"
		                    >
						<div class="video_item">
							<img src="img/hk-1.jpg" alt="">
						</div>
						</a>


						<div class="video_item">
							<img src="img/hk-1.jpg" alt="">
						</div>
						<div class="video_item">
							<img src="img/hk-1.jpg" alt="">
						</div>
					</div> -->


					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/1113-1.jpg" alt="">
							<img src="img/1113-2.jpg" alt="">
						</div>
						<p>2019/11/13 首場迷你說明會</p>
					</div>


					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/1117-1.jpg" alt="">
							<img src="img/1117-2.jpg" alt="">
						</div>
						<p>2019/11/13 首場迷你說明會</p>
					</div>

					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/1120-1.jpg" alt="">
							<img src="img/1120-2.jpg" alt="">
							<img src="img/1120-3.jpg" alt="">
							<img src="img/1120-4.jpg" alt="">
						</div>
						<p>2019/11/13 首場迷你說明會</p>
					</div>

					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/hk-1.jpg" alt="">
							<img src="img/hk-2.jpg" alt="">
						</div>
						<p>夏哲森期望培養孩子國際觀與探究精神，融合IB國際學者文憑的精神，發展出跨領域的探究式統整課程，並與新加坡IB認證學校建立姊妹校關係，進行定期互訪與學術交流。</p>
					</div>




			</div>
		</div>

	</div>



</div>




<div class="clear"></div>

<div id="notice-popup" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

		<div align="center" id="shadow" class="video_play_include">
			<video src="video/summer_castle_01.mp4" class="video-js vjs-default-skin" controls="" data-setup="{}" id="example_video" preload="auto">
			</video>
		</div>


    </div>
</div>


 <script>
        $(function(){
            $('.js-open-notice-popup').magnificPopup({
                items: {
                    src: '#notice-popup',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });


        });
    </script>






{% endblock %}