{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<div class="summer_castle">
					<img src="img/sc-1.png" alt="">

					<p>夏哲森幼兒園</p>
					<p>童年藝森活園地</p>
					<br><br>
					<p>我們把大自然的故事敘述</p>
					<p>於是有了這裡的想像</p>
					<br><br>

					<p>我們把教育的心願種下</p>
					<p>於是有了這裡的築夢地</p>
					<br>

					<p>我們把童年的畫卷展開</p>
					<p>於是有了這畝喜悅心田</p>
					<br>
					<p>陽光、綠樹與小天使相伴</p>
					<p>鳥語花草新森活與你分享</p>
					<p>於是有了夏哲森的優雅</p>


					<div class="fb">
						<a href="https://www.facebook.com/SummerCastleHCT/" target="_blank" class="fb"><i class="fab fa-facebook-f"></i></a></div>
					</div>



					<div class="vidoe_row">
						<a class="video_item js-open-video-1" >
							<img src="img/video_01.jpg" alt="">
						</a>

						<a class="video_item js-open-video-1" >
							<img src="img/video_01.jpg" alt="">
						</a>
						<a class="video_item js-open-video-2" >
							<img src="img/video_02.jpg" alt="">
						</a>
						<a class="video_item js-open-video-3" >
							<img src="img/video_03.jpg" alt="">
						</a>



					</div>





					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/1113-1.jpg" alt="">
							<img src="img/1113-2.jpg" alt="">
						</div>
						<p>2019/11/13 家乘家工作室首場迷你說明會</p>
					</div>


					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/1117-1.jpg" alt="">
							<img src="img/1117-2.jpg" alt="">
						</div>
						<p>2019/11/17 興富發建案銷售中心說明會</p>
					</div>

					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/1120-1.jpg" alt="">
							<img src="img/1120-2.jpg" alt="">
							<img src="img/1120-3.jpg" alt="">
							<img src="img/1120-4.jpg" alt="">
						</div>
						<p>2019/11/20 家乘家工作室說明會</p>
					</div>
					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/1124-1.jpg" alt="">
							<img src="img/1124-2.jpg" alt="">
						</div>
						<p>2019/11/24 興富發建案銷售中心說明會</p>
					</div>

					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/hk-1.jpg" alt="">
							<img src="img/hk-2.jpg" alt="">
						</div>
						<p>夏哲森期望培養孩子國際觀與探究精神，融合IB國際學者文憑的精神，發展出跨領域的探究式統整課程，並與新加坡IB認證學校建立姊妹校關係，進行定期互訪與學術交流。</p>
					</div>


					<div class="seminar ">
						<div class="slick_photo slider">
							<div class="video_item js-open-video-b1 hover-finger" >
								<img src="img/hk-1.jpg" alt="">
							</div>
						</div>
						<p>課程說明會</p>
					</div>

					<div class="seminar ">
						<div class="slick_photo slider">
							<div class="video_item js-open-video-b2 hover-finger" >
								<img src="img/hk-1.jpg" alt="">
							</div>
						</div>
						<p>STEAM泡泡科學營</p>
					</div>

					<div class="seminar ">
						<div class="slick_photo slider">
							<div class="video_item js-open-video-b3 hover-finger" >
								<img src="img/hk-1.jpg" alt="">
							</div>
						</div>
						<p>2020/01/04新竹巨城</p>
					</div>

					<div class="seminar ">
						<div class="slick_photo slider">
							<div class="video_item js-open-video-b4 hover-finger" >
								<img src="img/hk-1.jpg" alt="">
							</div>
						</div>
						<p>2020/01/19 OPEN DAY</p>
					</div>




			</div>
		</div>

	</div>



</div>




<div class="clear"></div>

<div id="notice-popup-01" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
		<iframe src="https://www.youtube.com/embed/A9ME_6NOcdo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-02" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
		<iframe  src="https://www.youtube.com/embed/YMBibMfP2cM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-03" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

	<iframe src="https://www.youtube.com/embed/1D4RES3gAmw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>



<div id="notice-popup-b1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

	<iframe src="https://www.youtube.com/embed/1D4RES3gAmw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>

<div id="notice-popup-b2" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

	<iframe src="https://www.youtube.com/embed/1D4RES3gAmw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>

<div id="notice-popup-b3" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

	<iframe src="https://www.youtube.com/embed/1D4RES3gAmw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>

<div id="notice-popup-b4" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

	<iframe src="https://www.youtube.com/embed/1D4RES3gAmw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>





 <script>
        $(function(){
            $('.js-open-video-1').magnificPopup({
                items: {
                    src: '#notice-popup-01',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

             $('.js-open-video-2').magnificPopup({
                items: {
                    src: '#notice-popup-02',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-3').magnificPopup({
                items: {
                    src: '#notice-popup-03',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-b1').magnificPopup({
                items: {
                    src: '#notice-popup-03',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });
            $('.js-open-video-b2').magnificPopup({
                items: {
                    src: '#notice-popup-03',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });
            $('.js-open-video-b3').magnificPopup({
                items: {
                    src: '#notice-popup-03',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });
            $('.js-open-video-b4').magnificPopup({
                items: {
                    src: '#notice-popup-03',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });


        });
    </script>






{% endblock %}