{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>


<div class="main_content">
	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<h2>學生營隊學習</h2>

				<ul>
					<li>針對個別化學生需求，規劃藝文、科技、語言、創意等課程營隊。</li>
					<li>規劃海內外營隊和教育機構讓學生到國外，實際體驗與國內不同的文化，讓學生視野更加開闊。</li>
					<li>安排高比例生活輔導老師隨行輔導關切。</li>
				</ul>

			</div>
		</div>


		<div class="still_video">

			<div class="still_video_row">
				<div class="act_name">
					學生活動營隊
				</div>

				<div class="act_video-row">
					<div class="video_item-sd js-open-video-b5 hover-finger" >
						<img src="img/v-05.jpg" alt="">
						<p>新生體驗</p>
					</div>					

					<div class="video_item-sd js-open-video-b6 hover-finger" >
						<img src="img/v-06.jpg" alt="">
						<p>顏色派對</p>
					</div>
				</div>
			</div>


			<div class="still_video_row">
				<div class="act_name">
					STEAM泡泡科學活動
				</div>
				
				<div class="act_video-row">
					<div class="video_item-sd js-open-video-b2 hover-finger" >
						<img src="img/v-02.jpg" alt="">
						<p>STEAM泡泡科學營</p>	
					</div>					

					<div class="video_item-sd js-open-video-b7 hover-finger" >
						<img src="img/v-07.jpg" alt="">
						<p>STREAM泡泡科學營</p>
					</div>
				</div>
			</div>
		</div>

	</div>









</div>



<div id="notice-popup-01" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
		<iframe src="https://www.youtube.com/embed/A9ME_6NOcdo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-02" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
		<iframe  src="https://www.youtube.com/embed/YMBibMfP2cM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-03" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

	<iframe src="https://www.youtube.com/embed/1D4RES3gAmw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>
<div id="notice-popup-04" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

	<iframe src="https://www.youtube.com/embed/tCpl5s65BTI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>



<div id="notice-popup-b1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/CyV6jQGTcWk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b2" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/ia_tcjGFLpQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b3" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/1D4RES3gAmw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b4" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/Qlhe0yx1HOM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b5" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/Ps0FU-YzV1A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b6" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/ObBL7yg7rOg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b7" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/r57jK9ICSnc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>





 <script>
        $(function(){
            $('.js-open-video-1').magnificPopup({
                items: {
                    src: '#notice-popup-01',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

             $('.js-open-video-2').magnificPopup({
                items: {
                    src: '#notice-popup-02',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-3').magnificPopup({
                items: {
                    src: '#notice-popup-03',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

             $('.js-open-video-4').magnificPopup({
                items: {
                    src: '#notice-popup-04',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-b1').magnificPopup({
                items: {
                    src: '#notice-popup-b1',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });
            $('.js-open-video-b2').magnificPopup({
                items: {
                    src: '#notice-popup-b2',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });
            $('.js-open-video-b3').magnificPopup({
                items: {
                    src: '#notice-popup-b3',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });
            $('.js-open-video-b4').magnificPopup({
                items: {
                    src: '#notice-popup-b4',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-b5').magnificPopup({
                items: {
                    src: '#notice-popup-b5',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-b6').magnificPopup({
                items: {
                    src: '#notice-popup-b6',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-b7').magnificPopup({
                items: {
                    src: '#notice-popup-b7',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });


        });
    </script>







{% endblock %}