{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>


<div class="main_content">
	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<h2>文化交流參訪</h2>

				<ul>
					<li>針對需求者參訪學習重點，詳盡安排專家和具權威代表性的課程重點。</li>
					<li>安排與專家指導研討對話、經驗傳承分享會議，以使學習到位。</li>
					<li>規劃當地文化交流關注特殊代表性的精緻交流行程非通俗景點，以體驗豐富多元文化、生活化的在地融入。</li>
				</ul>

		</div>
	</div>

</div>




<div class="clear"></div>









{% endblock %}