{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>


<div class="main_content">
	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<h2>親子遊學訪學</h2>

				<ul>
					<li> 不同於一般夏令營和遊學團，父母可以和孩子一同參加，孩子當地學校上課，父母可以享受當地的悠閑生活、體驗生活環境、參加成人的語言課程和旅遊行程，加強語言能力和增加文化經驗。</li>
					<li> 父母可以與孩子共同參加學校課後活動，透過親子共學了解孩子的學習狀況，同時可以假日全家人一同出遊。</li>
					<li> 皆規劃與當地大學、教育機構合作辦理，且住宿需求可有住宿家庭、出租公寓、學校宿舍或旅店的多元選擇。</li>
				</ul>
			</div>
		</div>

	</div>



</div>



<div class="clear"></div>









{% endblock %}