{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				
				<img src="img/comingsoon.jpg" alt="" style="display:block; width: 95%; margin: 0 auto">
			</div>
		</div>

	</div>



</div>




<div class="clear"></div>

<div id="notice-popup" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

		<div align="center" id="shadow" class="video_play_include">
			<video src="video/summer_castle_01.mp4" class="video-js vjs-default-skin" controls="" data-setup="{}" id="example_video" preload="auto">
			</video>
		</div>


    </div>
</div>








{% endblock %}