{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>


<div class="main_content">

	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<h2></h2>

				<ul>
					<br><br><br><br>
					<br><br><br><br>
				</ul>
			</div>
		</div>

	</div>



</div>





<div class="clear"></div>









{% endblock %}