{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
{% include '_partial/aside_summer-castle.twig' %}

	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				
				<div class="angel">
					<h4>天使之丘托嬰中心（即將立案）</h4>
					<div class="l-l"></div>
					<p>招收年齡：０－２歲</p>
					<p>地點：位於林口三井旁，文化二路一段241巷</p>
					<div class="l-l"></div>
					<p>讓忙碌的生活可以輕鬆一些。<br>
						您將真正感受得到，托育品質對寶寶來說有多重要。
					</p>
				</div>

				<div class="summer_castle">
					<div class="contact_us-in">

						<h6>CONTACT US</h6>
				
						<div class="c-row">
							<a href="https://www.facebook.com/%E5%A4%A9%E4%BD%BF%E4%B9%8B%E4%B8%98%E6%89%98%E5%AC%B0%E4%B8%AD%E5%BF%83-103233354659218/" target="_blank"> <i class="fab fa-facebook-f"></i>  天使之丘托嬰中心</a>
						</div>
						
						
					</div>
				</div>

			</div>
		</div>
	</div>

	
	

</div>




<div class="clear"></div>

<div id="notice-popup" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

		<div align="center" id="shadow" class="video_play_include">
			<video src="video/summer_castle_01.mp4" class="video-js vjs-default-skin" controls="" data-setup="{}" id="example_video" preload="auto">
			</video>
		</div>


    </div>
</div>








{% endblock %}