{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>


<div class="main_content">

	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<h2>文化產業課程培育</h2>

				<ul>
					<li>課程規劃分為「文化基礎」、「創意設計」以及「行銷經營」三部份。</li>
					<li>規劃以文化基礎能力課程為涵養，著重培養現場實務操作人員。</li>
					<li>課程規劃兼具創意設計應用能力與行銷經營之實務能力。</li>
				</ul>

		</div>
	</div>

</div>




<div class="clear"></div>









{% endblock %}