{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>


<div class="main_content">

	{% include '_partial/aside.twig' %}

	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<h2>師資培育養成</h2>

				<ul>
					<li>規劃各項教育階段、對象、專業類別課程，致力達成培育養成目標。</li>
					<li>規劃各類教育人員發展關鍵能力養成課程。</li>
					<li>以學習者為中心，依學習者能力劃分初階、進階等階段依序辦理，顧及學習發展。</li>
					<li>講師皆為國內外知名專業學者和實務工作者，運用案例和理論對照強化運用思考。</li>
				</ul>

			</div>
		</div>
	

		<div class="still_video">

			<div class="still_video_row">
				<div class="act_name">
					2020.3.21食農課程培訓課程
				</div>

				<div class="act_video-row">
					<div class="img_item-sd js-open-img-01 hover-finger" >
						<img src="img/couse_a1.jpg" alt="">
						<p><!-- 新生體驗 --></p>
					</div>					

					<div class="img_item-sd js-open-img-02 hover-finger">
						<img src="img/couse_a2.jpg" alt="">
						<!-- <p>顏色派對</p> -->
					</div>

					<div class="img_item-sd js-open-img-03 hover-finger">
						<img src="img/couse_a3.jpg" alt="">
						<!-- <p>顏色派對</p> -->
					</div>

				</div>
			</div>
		</div>

	</div>
</div>



<div id="notice-popup-01" class="notice-popup2 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/couse_a1.jpg" alt="">
    </div>
</div>

<div id="notice-popup-02" class="notice-popup2 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/couse_a2.jpg" alt="">
    </div>
</div>

<div id="notice-popup-03" class="notice-popup2 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/couse_a3.jpg" alt="">
    </div>
</div>
 <script>
        $(function(){
          
            $('.js-open-img-01').magnificPopup({
                items: {
                    src: '#notice-popup-01',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-img-02').magnificPopup({
                items: {
                    src: '#notice-popup-02',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });
            $('.js-open-img-03').magnificPopup({
                items: {
                    src: '#notice-popup-03',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });
            


        });
    </script>







{% endblock %}