{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>


<div class="main_content">

	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<h2>產品推廣行銷課程</h2>

				<ul>
					<li>因應顧客產品種類差異優勢，客製規劃融合行銷理論與經營農產品實務。</li>
					<li>搭配課堂討論與分組研討，讓學員充分了解行銷之重要概念以及掌握運用的技巧。</li>
					<li>邀請業界具理論與實務工作講師專業授課。</li>
				</ul>

		</div>
	</div>

</div>




<div class="clear"></div>









{% endblock %}