{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>


<div class="main_content">

	{% include '_partial/aside.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<h2>教育諮詢顧問</h2>

				<ul>
					<li><i class="fas fa-long-arrow-alt-right"></i> 擁有強大教育諮詢輔導顧問群，包含國內台師大、政大、清大、市立大學等、各教育學會、師培機構、早療機構、特殊教育、心理輔導和幼教協會成員(教授、校長、園長和教師)，擁有現場與理論實務經驗。</li>
					<li><i class="fas fa-long-arrow-alt-right"></i> 為有志在早療、幼教、特教、補習業和私立中小學辦學提供專業團隊協助規劃立案。</li>
					<li><i class="fas fa-long-arrow-alt-right"></i> 提供學生、親子、成人、學校教師專業之教育諮詢方案，實現因材施教、適性發展的最佳成效。</li>
				</ul>

		</div>
	</div>

	</div>
</div>












{% endblock %}