{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

<div class="index_slick">
	<section class="main slider">
	    <div class="new_photo"><img src="img/home1.jpg"> </div>
	    <div class="new_photo"><img src="img/home2.jpg"> </div>
	    <div class="new_photo"><img src="img/home3.jpg"> </div>
	    <div class="new_photo"><img src="img/home4.jpg"> </div>
	    <div class="new_photo"><img src="img/home5.jpg"> </div>
	</section>
</div>

<div class="middle_slogan_wrapper">
	<div class="middle_slogan">
		<img src="img/slogan.svg" alt="">
	</div>
</div>


<div class="section_line"></div>

<div class="product_info_wrapper">
	<div class="product_info">
		<div class="product_intro">
			<img src="img/iocn_01.svg" alt="">
			<h6>致力於務實文教事業</h6>
			<p>非一般的旅行社的訪學課程，  踏實誠懇的安排學術、學校實習交流、教育機構參訪。</p>
		</div>
		<div class="product_intro">
			<img src="img/iocn_02.svg" alt="">
			<h6>世界各地大學學術和學校合作</h6>
			<p>非一般語言中心，具有理論與實際並學。</p>
		</div>
		<div class="product_intro">
			<img src="img/iocn_03.svg" alt="">
			<h6>客製化服務</h6>
			<p>服務諮詢團隊專業、客製化服務提供超值素質內容。 </p>
		</div>

		<div class="product_intro">
			<img src="img/iocn_04.svg" alt="">
			<h6>課程專業、生活化</h6>
			<p>課程安排專業、生活化、在地融入。</p>
		</div>

		<div class="product_intro">
			<img src="img/iocn_05.svg" alt="">
			<h6>成人教育學習推廣和進修</h6>
			<p>各項成人教育學習推廣和進修，例如文創、各項產業、行銷課程研修安排。</p>
		</div>

	</div>
</div>

<div class="section_line" id="contact_us"></div>


<div class="contact_us" >
	<h2>CONTACT US</h2>
	<div class="for_flex_contact">
		<div class="contact_info">
			<div class="contact_row">
				<p>聯絡人</p>
				<input type="text" id="nameValue">
			</div>
			<div class="contact_row">
				<p>聯絡電話</p>
				<input type="text" id="phoneValue">
			</div>
			<div class="contact_row" >
				<p>電子郵件</p>
				<input type="text" id="demandValue">
			</div>
			<div class="contact_row">
				<p>簡述聯絡事項</p>
				<input type="text" id="descriptionValue">
			</div>

			<div class="sumit" id="sumit">送出</div>
		</div>
		<!-- <div class="contact_img">
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.8978139910973!2d121.56223865101286!3d25.03754168389206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb9dc73545d%3A0x6513f5fb17ad1f67!2z6Ie65YyX5biC5pS_5bqc!5e0!3m2!1szh-TW!2stw!4v1565017916384!5m2!1szh-TW!2stw"  frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div> -->
	</div>
</div>



<div id="summer_camp-01" class="notice-popup3 mfp-hide">
    
   		<div class="announce">
   			<h6>[鄭重公告]</h6>
   			<p> <b>昕傳思文教之子事業體夏哲森幼兒園，針對2020年5月14日在PTT版上，對本幼兒園的不實臆測提出鄭重聲明: </b><br>
   			2019年8月初因玉兒托嬰中心經營不善倒閉，在清大的教授邀請下期望由昕傳思團隊接手原場地，以解決玉兒已執行一半的園所工程，積欠廠商款項和已預收的家長款項問題，本團隊並於同年8月中旬與東區蔡惠婷議員相約，以了解玉兒托嬰中心發生的相關問題後，蔡議員認同倘有優質教育團隊願意接手此園，一方面可解決廠商款項，另一方面更可帶來關埔區的優質教育氛圍，因此在溝通協調下亦鼓勵本團隊接下此業務，特在此說明原委。</p>
   			　　<p>另，關於今日在PTT版上對夏哲森的不實臆測說法，我們將會截圖並保留法律追訴權。再次重申，新竹市私立夏哲森幼兒園隸屬於昕傳思文教事業，並業於2020年1月完成立案，旗下除有夏哲森幼兒園新竹校區，林口校區外、即將完成立案的哲哲學苑補習事業與新北美國學校合作辦學的相關事業體，與其它教育單位沒有任何關聯，昕傳思文教事業專業獨立辦學，再次鄭重聲明公告！倘有疑慮，請逕行上昕傳思文教官網查詢及確認！</p></div>
    
</div>




 <script>
    $(function(){

		setTimeout(function() {
			 
			   $.magnificPopup.open({
			    items: {
			        src: '#summer_camp-01' 
			    },
			    type: 'inline'
			      });
			   
		 }, 1000);
        

    });
</script>



<script>
	$(document).ready(function(){

		let sendButton = document.querySelector('.sumit');

		function send() {
		  let name = document.querySelector('#nameValue').value;
		  let phone = document.querySelector('#phoneValue').value;
		  let demand = document.querySelector('#demandValue').value;
		  let description = document.querySelector('#descriptionValue').value;
		  $.ajax({
    		url: "https://script.google.com/macros/s/AKfycbz3Vq4hnRv4Zj-FVkwvSuidrSRQWBVDCxNhATgvNG6zDsv0kpQ/exec",
		    data: {
		        "name": name,
		        "phone": phone,
		        "demand": demand,
		        "description": description
		    },
		    success: function(response) {
		      if(response == "成功"){
		        alert("資料已送出！感謝您");
		      }
		    },
		  });
		};

		sendButton.addEventListener('click', send);

	});
</script>


{% endblock %}