{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="indside_banner">
	<img src="img/main_01.jpg" alt="">

</div>


<div class="middle_slogan_wrapper">
	<div class="middle_slogan">
		<img src="img/slogan.svg" alt="">
	</div>
</div>


<div class="section_line"></div>

<div class="product_info_wrapper">
	<div class="product_info">
		<div class="product_intro">
			<img src="img/iocn_01.svg" alt="">
			<h6>致力於務實文教事業</h6>
			<p>非一般的旅行社的訪學課程，  踏實誠懇的安排學術、學校實習交流、教育機構參訪。</p>
		</div>
		<div class="product_intro">
			<img src="img/iocn_02.svg" alt="">
			<h6>世界各地大學學術和學校合作</h6>
			<p>非一般語言中心，具有理論與實際並學。</p>
		</div>
		<div class="product_intro">
			<img src="img/iocn_03.svg" alt="">
			<h6>客制化服務</h6>
			<p>服務諮詢團隊專業、客制化服務提供超值素質內容。 </p>
		</div>

		<div class="product_intro">
			<img src="img/iocn_04.svg" alt="">
			<h6>課程專業、生活化</h6>
			<p>課程安排專業、生活化、在地融入。</p>
		</div>

		<div class="product_intro">
			<img src="img/iocn_05.svg" alt="">
			<h6>成人教育學習推廣和進修</h6>
			<p>各項成人教育學習推廣和進修，例如文創、各項產業 行銷課程研修安排。</p>
		</div>

	</div>
</div>

<div class="section_line"></div>


<div class="contact_us">
	<h2>CONTACT US</h2>
	<div class="for_flex_contact">
		<div class="contact_info">
			<div class="contact_row">
				<p>聯絡人</p>
				<input type="text">
			</div>
			<div class="contact_row">
				<p>聯絡電話</p>
				<input type="text">
			</div>
			<div class="contact_row">
				<p>電子郵件</p>
				<input type="text">
			</div>
			<div class="contact_row">
				<p>簡述聯絡事項</p>
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>




		</div>
		<div class="contact_img"><img src="img/contact.jpg" alt=""></div>

	</div>


</div>


{% endblock %}x