{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="index_slick">
	<section class="main slider">
	    <div class="new_photo"><img src="img/main_01.jpg"> </div>
	    <div class="new_photo"><img src="img/main_02.jpg"> </div>
	    <div class="new_photo"><img src="img/main_03.jpg"> </div>
	    <div class="new_photo"><img src="img/main_04.jpg"> </div>
	    <div class="new_photo"><img src="img/main_05.jpg"> </div>
	</section>
</div>





<div class="middle_slogan_wrapper">
	<div class="middle_slogan">
		<img src="img/slogan.svg" alt="">
	</div>
</div>


<div class="section_line"></div>

<div class="product_info_wrapper">
	<div class="product_info">
		<div class="product_intro">
			<img src="img/iocn_01.svg" alt="">
			<h6>致力於務實文教事業</h6>
			<p>非一般的旅行社的訪學課程，  踏實誠懇的安排學術、學校實習交流、教育機構參訪。</p>
		</div>
		<div class="product_intro">
			<img src="img/iocn_02.svg" alt="">
			<h6>世界各地大學學術和學校合作</h6>
			<p>非一般語言中心，具有理論與實際並學。</p>
		</div>
		<div class="product_intro">
			<img src="img/iocn_03.svg" alt="">
			<h6>客制化服務</h6>
			<p>服務諮詢團隊專業、客制化服務提供超值素質內容。 </p>
		</div>

		<div class="product_intro">
			<img src="img/iocn_04.svg" alt="">
			<h6>課程專業、生活化</h6>
			<p>課程安排專業、生活化、在地融入。</p>
		</div>

		<div class="product_intro">
			<img src="img/iocn_05.svg" alt="">
			<h6>成人教育學習推廣和進修</h6>
			<p>各項成人教育學習推廣和進修，例如文創、各項產業 行銷課程研修安排。</p>
		</div>

	</div>
</div>

<div class="section_line" id="contact_us"></div>


<div class="contact_us" >
	<h2>CONTACT US</h2>
	<div class="for_flex_contact">
		<div class="contact_info">
			<div class="contact_row">
				<p>聯絡人</p>
				<input type="text">
			</div>
			<div class="contact_row">
				<p>聯絡電話</p>
				<input type="text">
			</div>
			<div class="contact_row">
				<p>電子郵件</p>
				<input type="text">
			</div>
			<div class="contact_row">
				<p>簡述聯絡事項</p>
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>

			<div class="sumit">送出</div>


		</div>
		<div class="contact_img">
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.8978139910973!2d121.56223865101286!3d25.03754168389206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb9dc73545d%3A0x6513f5fb17ad1f67!2z6Ie65YyX5biC5pS_5bqc!5e0!3m2!1szh-TW!2stw!4v1565017916384!5m2!1szh-TW!2stw"  frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>

	</div>


</div>


{% endblock %}x