{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
<div class="aside">
  <div class="product_menu">
    <div class="product_title"><a href="matcha_one_report.html">媒體報導</a></div>
  </div>
</div>



	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="matcha_one_report.html" class="goback">
					<i class="fas fa-redo"></i> 
					<p>返</p>
					<p>回</p>
			</a>

				
				<div class="angel">
					<h4 style="margin-bottom: 15px;">合作夥伴</h4>
					<h6 style="text-align: center;">與平安京茶事 Matcha One合作</h6>
					<div class="l-l" style="background: red"></div>
					<p style="text-align: center;">
            看待生活的態度是尊敬、平靜、享受和用心。<br>
            台灣文學館Matcha One將日本、台灣文化融合<br>
            為在地新文化，打造文創喜愛者的聚會所。
					</p>
				</div>

				<div class="summer_castle">
					<div class="contact_us-in">

						<h6>CONTACT US</h6>
				
						<div class="c-row">
							<a href="https://www.facebook.com/MatchaOne.QD/?refsrc=https%3A%2F%2Fm.facebook.com%2Flogin%2Fdevice-based%2Fpassword%2F" target="_blank"> <i class="fab fa-facebook-f"></i>  平安京茶事 Matcha One</a>
						</div>
						
						
					</div>
				</div>

			</div>
		</div>
	</div>

	
	

</div>




<div class="clear"></div>

<div id="notice-popup" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

		<div align="center" id="shadow" class="video_play_include">
			<video src="video/summer_castle_01.mp4" class="video-js vjs-default-skin" controls="" data-setup="{}" id="example_video" preload="auto">
			</video>
		</div>


    </div>
</div>








{% endblock %}