{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>


<div class="main_content">

<!-- aside -->
<div class="aside">
  <div class="product_menu">
    <div class="product_title"><a href="matcha_one_report.html">媒體報導</a></div>
  </div>
</div>

	
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<h2>媒體報導</h2>

				<div class="media_report">
          <div class="media_report_item">
            <div class="date">2021.01.09</div>
            <div class="link_report">
            <a href="https://www.bella.tw/articles/travel&foodies/27647" target="_blank">忠孝新生站最新景點「台灣文學基地」！文青最愛日式宿舍群，還有「平安京茶事 」茶點</a>
          </div>
          </div>


        </div>

		</div>
	</div>

</div>




</div>









{% endblock %}