{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_related_institutions"></div>


<div class="related_institutions_content">

	<div class="content">

		<!-- link -->
		<a href="summer_castle.html">
		<div class="content_item">
			<div class="mask">
				<p>夏哲森Summer Castle幼稚園 <br> 新竹校區</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/sc-1.png" alt="">
		</div>
		</a>

		<!-- link -->
		<a href="summer_castle-linkou.html">
		<div class="content_item">
			<div class="mask">
				<p>夏哲森Summer Castle幼稚園<br>林口校區</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/institutions_01.png" alt="">
		</div>
		</a>

		<!-- link -->
		<a href="wisdom.html">
		<div class="content_item">
			<div class="mask">
				<p>哲哲學苑－新竹校區</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/institutions_03.png" alt="">
		</div>
		</a>

		<!-- link -->
		<a href="wisdom-linkou.html">
		<div class="content_item">
			<div class="mask">
				<p>哲哲學苑－林口校區</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/institutions_03.png" alt="">
		</div>
		</a>

		<!-- link -->
		<a href="activity_hightlights_04.html">
		<div class="content_item">
			<div class="mask">
				<p>天使之丘托嬰中心</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/institutions_04.jpg" alt="">
		</div>
		</a>


		




	</div>

</div>




<div class="clear"></div>









{% endblock %}