{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="indside_banner product_br">
	<h2>PRODUCT</h2>
</div>
	



<div class="main_content">
	

	<div class="search_result">

		<div class="product_block">
			<div class="product_photo">
				<img src="img/product_01.png" alt="">
			</div>

			<div class="product_info">
				<a href="product_detail.html">
					<h6>Top Power Adapter</h6>
				</a>
				<p>120W C14 Desk Top Power Adapter, adaptor, AC/DC adapter, switching power supply, AC-DC adapter, adapter, power supply, external power adapter, switching power adapter</p>

				<div class="spec">
					<p>Certification: LVD, FCC, CB, CE, EMC, TUV, CUL, GS, UL</p>
					<p>Made in: Taiwan, ROC</p>
					<p>Model No.: GPA-120D-120750~240500</p>
				</div>
			</div>
		</div>

		<div class="product_block">
			<div class="product_photo">
				<img src="img/product_02.png" alt="">
			</div>

			<div class="product_info">
				<h6>Top Power Adapter</h6>
				<p>120W C14 Desk Top Power Adapter, adaptor, AC/DC adapter, switching power supply, AC-DC adapter, adapter, power supply, external power adapter, switching power adapter</p>

				<div class="spec">
					<p>Certification: LVD, FCC, CB, CE, EMC, TUV, CUL, GS, UL</p>
					<p>Made in: Taiwan, ROC</p>
					<p>Model No.: GPA-120D-120750~240500</p>
				</div>
			</div>
		</div>

		<div class="product_block">
			<div class="product_photo">
				<img src="img/product_01.png" alt="">
			</div>

			<div class="product_info">
				<h6>Top Power Adapter</h6>
				<p>120W C14 Desk Top Power Adapter, adaptor, AC/DC adapter, switching power supply, AC-DC adapter, adapter, power supply, external power adapter, switching power adapter</p>

				<div class="spec">
					<p>Certification: LVD, FCC, CB, CE, EMC, TUV, CUL, GS, UL</p>
					<p>Made in: Taiwan, ROC</p>
					<p>Model No.: GPA-120D-120750~240500</p>
				</div>
			</div>
		</div>

		<div class="product_block">
			<div class="product_photo">
				<img src="img/product_02.png" alt="">
			</div>

			<div class="product_info">
				<h6>Top Power Adapter</h6>
				<p>120W C14 Desk Top Power Adapter, adaptor, AC/DC adapter, switching power supply, AC-DC adapter, adapter, power supply, external power adapter, switching power adapter</p>

				<div class="spec">
					<p>Certification: LVD, FCC, CB, CE, EMC, TUV, CUL, GS, UL</p>
					<p>Made in: Taiwan, ROC</p>
					<p>Model No.: GPA-120D-120750~240500</p>
				</div>
			</div>
		</div>

		<div class="product_block">
			<div class="product_photo">
				<img src="img/product_01.png" alt="">
			</div>

			<div class="product_info">
				<h6>Top Power Adapter</h6>
				<p>120W C14 Desk Top Power Adapter, adaptor, AC/DC adapter, switching power supply, AC-DC adapter, adapter, power supply, external power adapter, switching power adapter</p>

				<div class="spec">
					<p>Certification: LVD, FCC, CB, CE, EMC, TUV, CUL, GS, UL</p>
					<p>Made in: Taiwan, ROC</p>
					<p>Model No.: GPA-120D-120750~240500</p>
				</div>
			</div>
		</div>

	

		



	</div>	

	<div class="pages">
				<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
				<a href="" class="mainblue">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
			</div>
</div>




<div class="clear"></div>









{% endblock %}