{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_br"></div>


<div class="main_content">


	{% include '_partial/aside.twig' %}

	<div class="content">

		<!-- link -->
		<a href="">
		<div class="content_item">
			<div class="mask">
				<p>師資培育養成</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/img_01.jpg" alt="">
		</div>
		</a>

		<!-- link -->
		<a href="">
		<div class="content_item">
			<div class="mask">
				<p>產品推廣行銷課程</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/img_01.jpg" alt="">
		</div>
		</a>

		<!-- link -->
		<a href="">
		<div class="content_item">
			<div class="mask">
				<p>文化產業課程培育</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/img_01.jpg" alt="">
		</div>
		</a>

		<!-- link -->
		<a href="">
		<div class="content_item">
			<div class="mask">
				<p>教育諮詢顧問</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/img_01.jpg" alt="">
		</div>
		</a>
		<!-- link -->
		<a href="">
		<div class="content_item">
			<div class="mask">
				<p>學生營隊學習</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/img_01.jpg" alt="">
		</div>
		</a>

		<!-- link -->
		<a href="">
		<div class="content_item">
			<div class="mask">
				<p>親子遊學訪學</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/img_01.jpg" alt="">
		</div>
		</a>
		<!-- link -->
		<a href="">
		<div class="content_item">
			<div class="mask">
				<p>文化交流參訪</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/img_01.jpg" alt="">
		</div>
		</a>

		<!-- link -->
		<a href="">
		<div class="content_item">
			<div class="mask">
				<p>育兒園</p>
				<div class="bottom_line"></div>
			</div>
			<img src="img/img_01.jpg" alt="">
		</div>
		</a>







	</div>

</div>




<div class="clear"></div>









{% endblock %}