{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>

                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-a1 hover-finger" >
                            <div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="http://i3.ytimg.com/vi/Ozi15bsWTFY/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <!-- <h5>2020/9/26</h5> -->
                        <p>聖誕節闖關</p>
                    </div>
                </div>


                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd xmas-01 hover-finger">
                            <img src="img/summer_castle/xmas-01s.jpg" alt="">
                        </div>
                        <div class="img_item-sd xmas-02 hover-finger">
                            <img src="img/summer_castle/xmas-02s.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <p>聖誕節闖關</p>
                    </div>
                </div>


                
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-03 hover-finger">
                            <img src="img/summer_castle/summer_castle-i01s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-04 hover-finger">
                            <img src="img/summer_castle/summer_castle-i02s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-05 hover-finger">
                            <img src="img/summer_castle/summer_castle-i03s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-06 hover-finger">
                            <img src="img/summer_castle/summer_castle-i04s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-07 hover-finger">
                            <img src="img/summer_castle/summer_castle-i05s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-08 hover-finger">
                            <img src="img/summer_castle/summer_castle-i06s.jpg" alt="">
                        </div>
                    
                    </div>
                    <div class="t-text">
                        <h5>Happy National Day!</h5>
                        <p>國旗的顏色，孩子從自己身上的衣著對照有哪些顏色跟國旗一樣，少有的便服日帶給孩子很大的儀式感。<br>
                        透過慶祝活動，孩子們感受到自己的歸屬感，國慶日對孩子們來說很簡單，我們告訴他們就是國家的生日，就像每個人都有生日一樣，我們也都有爸爸媽媽，國家也有自己的國父是孫中山，謝謝他很努力沒有放棄，經過了11次終於成功，我們也和孩子們分享，遇見自己想要的事情不能輕易放棄，就會有成功的時候。<br>
                        學校門口的國旗是全校孩子們的共同創作喔，看看他們是不是很棒呢?</p>
                    </div>
                </div>
                



                <div class="clear" style="height: 50px;"></div>

				<div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/summer_castle/summer_castle-g01s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-02 hover-finger">
                            <img src="img/summer_castle/summer_castle-g02s.jpg" alt="">
                        </div>
                    
                    </div>
                    <div class="t-text">
                        <h5>自己做月餅</h5>
                        <p>今天我們說了月亮好吃嗎？這本繪本故事，還和孩子們分享中秋節會一起做的事情，關於蛋黃酥的材料，不管中文英文孩子們都認真的認識了喔！ <br>
                        看看孩子們的眼神多麼的專注... <br>
                        回到教室後，大家也都動手做做看，不知道回家是不是都和爸爸媽媽分享了呢？ <br>
                        希望大家都擁有一個甜甜的晚上❤️</p>
                    </div>
                </div>
				


					
				

			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
{% include '_partial/popup-video.twig' %}

<div id="notice-popup-a1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/Ozi15bsWTFY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>




<div id="xmas-01" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/xmas-01.jpg" alt="">
    </div>
</div>
<div id="xmas-02" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/xmas-02.jpg" alt="">
    </div>
</div>



<div id="summer_camp-01" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/summer_castle-g01.jpg" alt="">
    </div>
</div>

<div id="summer_camp-02" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/summer_castle-g02.jpg" alt="">
    </div>
</div>


<div id="summer_camp-03" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/summer_castle-i01.jpg" alt="">
    </div>
</div>

<div id="summer_camp-04" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/summer_castle-i02.jpg" alt="">
    </div>
</div>

<div id="summer_camp-05" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/summer_castle-i03.jpg" alt="">
    </div>
</div>

<div id="summer_camp-06" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/summer_castle-i04.jpg" alt="">
    </div>
</div>

<div id="summer_camp-07" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/summer_castle-i05.jpg" alt="">
    </div>
</div>

<div id="summer_camp-08" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/summer_castle-i06.jpg" alt="">
    </div>
</div>




 <script>
    $(function(){
        $('.js-open-video-a1').magnificPopup({
            items: {
                src: '#notice-popup-a1',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-01').magnificPopup({
            items: {
                src: '#summer_camp-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-02').magnificPopup({
            items: {
                src: '#summer_camp-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });



        $('.summer_camp-03').magnificPopup({
            items: {
                src: '#summer_camp-03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-04').magnificPopup({
            items: {
                src: '#summer_camp-04',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-05').magnificPopup({
            items: {
                src: '#summer_camp-05',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-06').magnificPopup({
            items: {
                src: '#summer_camp-06',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-07').magnificPopup({
            items: {
                src: '#summer_camp-07',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-08').magnificPopup({
            items: {
                src: '#summer_camp-08',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });


        $('.xmas-01').magnificPopup({
            items: {
                src: '#xmas-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });


        $('.xmas-02').magnificPopup({
            items: {
                src: '#xmas-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });












    
    });
</script>



{% endblock %}