{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}


<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>照片</h6>
				</div>

                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b5 hover-finger" >
                            <div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="http://i3.ytimg.com/vi/6mJVKa8p_4M/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>科學探索-光影科學</h5>
                        <p>孩子們透過各種不同的方式探索光影的變化，透過實際的體驗，孩子們能夠更清楚之間的關聯，進而能夠說出簡單的因果關係，是個很棒的科學體驗課程！
                         </p>
                    </div>
                </div>

                <div class="seminar ">
                    <div class="slick_photo slider">
                        <img src="img/summer_castle/artball_01.jpg" alt="">
                        <img src="img/summer_castle/artball_02.jpg" alt="">
                        <img src="img/summer_castle/artball_03.jpg" alt="">
                    </div>

                     <div class="t-text">
                        <h5>藝術滾球畫</h5>
                        <p>今天孩子們在院子裡做滾球畫，
                            大家看到好多球，眼睛都亮了！ <br>
                            孩子們先探索球與彈珠的材質， 
                            他們說在彈珠裡看到好多顏色像彩虹一樣🌈 
                            延續英文老師帶孩子們創作的形狀貼畫， 
                            我們帶著孩子們把紙，顏料，球放在盒子裡， 
                            開始了今天的創作。 <br>
                            今天的創作很特別是孩子們需要一起合作， 
                            一開始大家都不太會掌控力道跟方向，
                            但在老師引導下越來越厲害，
                            一起滾出一幅幅美麗的畫作😊 <br>
                            夏日的院子充滿孩子的笑聲，
                            滿滿的色彩，滿滿的歡樂， 
                            夏哲森的孩子都是小小藝術家🎨
                         </p>
                    </div>
                </div>



				<div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b4 hover-finger" >
                        	<div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="http://i3.ytimg.com/vi/M4Em_KnV8Jw/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>大熊體能老師活動好好玩</h5>
                        <p>謝謝體能老師大熊哥哥， <br>
							幫我們準備了好玩的體能器材， <br>
							讓孩子們可以強健體魄， <br>
							一邊玩，一邊訓練身體的協調性。 <br>
							看看我們的小寶貝們是不是都很💪 
                         </p>
                    </div>
                </div>

				<div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b3 hover-finger" >
                        	<div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="http://i3.ytimg.com/vi/MwwxTJzcsUQ/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>聽他們說些甚麼?認識植物課程</h5>
                        <p>聽聽孩子們在討論什麼...<br>
							你會發現他們純淨的眼睛，<br>
							可以看見許多大人沒看見的美好🙂
                         </p>
                    </div>
                </div>
				
				<div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b2 hover-finger" >
                        	<div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="http://i3.ytimg.com/vi/38yuOIwvfmg/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>光和影的科學</h5>
                        <p>猜猜孩子們在做什麼😀
                         </p>
                    </div>
                </div>




                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b1 hover-finger" >
                        	<div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="img/summer_castle/s-01.jpg" alt="">
                        </div>
                    </div>
					<div class="t-text">
                        <h5>食農--聽聽孩子們在討論什麼？</h5>
                        <p>我們的植物都用火箭速度在成長</p>
                    </div>
                </div>
					
				<div class="seminar ">
					<div class="slick_photo slider">
							<img src="img/vango.jpg" alt="">
					</div>
                    <div class="t-text">
                        <h5>梵谷：「所謂藝術，就是塑造大自然的人性，亦即塑造自然、現實、純真的人性。」
                        畢卡索：「色彩是甘泉、是美味，可以讓人快樂，讓人活起來。
                        我們把夏哲森後院當作藝術創作的壁面!</h5>
                    </div>

				</div>
				

				<div class="seminar ">
					<div class="slick_photo slider">
						<img src="img/hk-1.jpg" alt="">
						<img src="img/hk-2.jpg" alt="">
					</div>

                     <div class="t-text">
                        <h5>夏哲森期望培養孩子國際觀與探究精神，融合IB國際學者文憑的精神，發展出跨領域的探究式統整課程，並與新加坡IB認證學校建立姊妹校關係，進行定期互訪與學術交流。</h5>
                    </div>
				</div>

				
	
			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
<div id="notice-popup-b5" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/6mJVKa8p_4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b4" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/M4Em_KnV8Jw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-b3" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/MwwxTJzcsUQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-b2" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/38yuOIwvfmg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-b1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/ZAd8m1U6-gE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


 <script>
    $(function(){
    	
        $('.js-open-video-b5').magnificPopup({
            items: {
                src: '#notice-popup-b5',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.js-open-video-b4').magnificPopup({
            items: {
                src: '#notice-popup-b4',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.js-open-video-b3').magnificPopup({
            items: {
                src: '#notice-popup-b3',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.js-open-video-b2').magnificPopup({
            items: {
                src: '#notice-popup-b2',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.js-open-video-b1').magnificPopup({
            items: {
                src: '#notice-popup-b1',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });



    });
</script>



{% endblock %}