{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
    {% include '_partial/aside_summer-castle-linkou.twig' %}

<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle-linkou.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>學習區營造</h6>
				</div>
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-oct01 hover-finger">
                            <img src="img/wisdom/oct/b01s.jpeg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-oct02 hover-finger">
                            <img src="img/wisdom/oct/b02s.jpeg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-oct03 hover-finger">
                            <img src="img/wisdom/oct/b03s.jpeg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-oct04 hover-finger">
                            <img src="img/wisdom/oct/b04s.jpeg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-oct05 hover-finger">
                            <img src="img/wisdom/oct/b05s.jpeg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>夢想啟動</h5> 
                        <p>一年多以前在還是一片黃土的土地上，夏哲森團隊帶著新竹校區的經驗跟啟動夢想的動力在林口紮根茁壯。 <br>
                            今年9月1號~我們已經準備好迎接支持、認同夏哲森教育理念、願意與我們攜手合作的每一位親愛的寶貝跟爸爸媽媽!!<br>
                            現在...是我們一起帶著對教育的憧憬跟理想朝著目標前進的時刻了: )<br>
                            #新北市私立夏哲森幼兒園<br>
                            #新北府教幼字第1080003599林口0054號 </p>
                    </div>
                </div>


                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-aug01 hover-finger">
                            <img src="img/wisdom/aug/aug_01s.jpeg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        {# <h5>2020/8/22</h5> #}
                        <p>孩子們第一次上學， <br>
                            不安的不只是孩子， <br>
                            還有爸爸媽媽們也是... 
                            
                            這些都是過程， <br>
                            讓我們一起安定內心， <br>
                            做最好的教育夥伴，<br>
                            用最密切的合作，<br>
                            最open mind的心胸，<br>
                            陪伴孩子們成長。<br>
                            
                            夏哲森想做不一樣的學校，<br>
                            想用陪伴的角色，<br>
                            陪你們走孩子們人生的第一段。</p>
                    </div>
                </div>


                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-aug02 hover-finger">
                            <img src="img/wisdom/aug/aug_02s.jpeg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        {# <h5>2020/8/22</h5> #}
                        <p>老師們正在努力地準備教室環境，<br>
                            等待孩子們來上學喔！<br>
                            
                            同時我們也已經把學用品打包好，<br>
                            期待把它交到大家的手中，<br>
                            希望你們跟我們一樣，<br>
                            已經迫不及待開學日的到來！<br>
                        </p>
                    </div>
                </div>



                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-july01 hover-finger">
                            <img src="img/wisdom/july/j_01s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-july02 hover-finger">
                            <img src="img/wisdom/july/j_02s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-july03 hover-finger">
                            <img src="img/wisdom/july/j_03s.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        {# <h5>2020/8/22</h5> #}
                        <p>夏哲森的建築總是保留許多的窗，<br>
                            因為，我們希望孩子能夠保有對環境的敏感度，<br>
                            四季的變化，天光的日常，<br>
                            周遭的人事物，每天都有新發現...<br>
                            
                            環境是第三個老師，<br>
                            不只說的是課室裡的一切，<br>
                            還包含了孩子們每天五感所接受到的。<br>
                            
                            綠意盎然，生氣勃勃的夏季，<br>
                            如果多了孩子們對於一切事物新奇的驚呼，<br>
                            一定會更加熱鬧歡騰...<br>
                            
                            認真防疫，潛心等待♥️
                            
                            祝好。</p>
                    </div>
                </div>


			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
<!-- oct -->
<div id="summer_camp-oct01" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/oct/b01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-oct02" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/oct/b02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-oct03" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/oct/b03.jpg" alt="">
    </div>
</div>
<div id="summer_camp-oct04" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/oct/b04.jpg" alt="">
    </div>
</div>
<div id="summer_camp-oct05" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/oct/b05.jpg" alt="">
    </div>
</div>


<!-- aug -->
<div id="summer_camp-aug01" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/aug/aug_01.jpeg" alt="">
    </div>
</div>
<div id="summer_camp-aug02" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/aug/aug_02.jpeg" alt="">
    </div>
</div>



<!-- july -->
<div id="summer_camp-july01" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/july/j_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-july02" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/july/j_02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-july03" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/july/j_03.jpg" alt="">
    </div>
</div>


<script>
    $(function(){
        $('.summer_camp-oct01').magnificPopup({
            items: {
                src: '#summer_camp-oct01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-oct02').magnificPopup({
            items: {
                src: '#summer_camp-oct02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-oct03').magnificPopup({
            items: {
                src: '#summer_camp-oct03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-oct04').magnificPopup({
            items: {
                src: '#summer_camp-oct04',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-oct05').magnificPopup({
            items: {
                src: '#summer_camp-oct05',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });



        
        $('.summer_camp-aug01').magnificPopup({
            items: {
                src: '#summer_camp-aug01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-aug02').magnificPopup({
            items: {
                src: '#summer_camp-aug02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        
        $('.summer_camp-july01').magnificPopup({
            items: {
                src: '#summer_camp-july01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-july02').magnificPopup({
            items: {
                src: '#summer_camp-july02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-july03').magnificPopup({
            items: {
                src: '#summer_camp-july03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

    });
</script>



{% endblock %}