{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

					<div class="seminar ">
						
						<h6>說明會</h6>
					</div>


					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/1113-1.jpg" alt="">
							<img src="img/1113-2.jpg" alt="">
						</div>
						<p>2019/11/13 家乘家工作室首場迷你說明會</p>
					</div>


					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/1117-1.jpg" alt="">
							<img src="img/1117-2.jpg" alt="">
						</div>
						<p>2019/11/17 興富發建案銷售中心說明會</p>
					</div>

					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/1120-1.jpg" alt="">
							<img src="img/1120-2.jpg" alt="">
							<img src="img/1120-3.jpg" alt="">
							<img src="img/1120-4.jpg" alt="">
						</div>
						<p>2019/11/20 家乘家工作室說明會</p>
					</div>
					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/1124-1.jpg" alt="">
							<img src="img/1124-2.jpg" alt="">
						</div>
						<p>2019/11/24 興富發建案銷售中心說明會</p>
					</div>

					


					<div class="seminar ">
						<div class="slick_photo slider">
							<div class="video_item js-open-video-b1 hover-finger" >
								<img src="img/v-01.jpg" alt="">
							</div>
						</div>
						<p>課程說明會</p>
					</div>

					

					

					<div class="seminar ">
						<div class="slick_photo slider">
							<div class="video_item js-open-video-b4 hover-finger" >
								<img src="img/v-04.jpg" alt="">
							</div>
						</div>
						<p>2020/01/19 OPEN DAY</p>
					</div>

			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
{% include '_partial/popup-video.twig' %}

<div id="summer_camp-01" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-02" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-03" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_03.jpg" alt="">
    </div>
</div>
<div id="summer_camp-04" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_04.jpg" alt="">
    </div>
</div>



 <script>
    $(function(){
        $('.summer_camp-01').magnificPopup({
            items: {
                src: '#summer_camp-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-02').magnificPopup({
            items: {
                src: '#summer_camp-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-03').magnificPopup({
            items: {
                src: '#summer_camp-03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-04').magnificPopup({
            items: {
                src: '#summer_camp-04',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
    });
</script>



{% endblock %}