{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>節慶／典</h6>
				</div>
                <div class="aaa ">
                    照片規劃建置中
                </div>
				


					
					

			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
{% include '_partial/popup-video.twig' %}

<div id="summer_camp-01" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-02" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-03" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_03.jpg" alt="">
    </div>
</div>
<div id="summer_camp-04" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_04.jpg" alt="">
    </div>
</div>



 <script>
    $(function(){
        $('.summer_camp-01').magnificPopup({
            items: {
                src: '#summer_camp-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-02').magnificPopup({
            items: {
                src: '#summer_camp-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-03').magnificPopup({
            items: {
                src: '#summer_camp-03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-04').magnificPopup({
            items: {
                src: '#summer_camp-04',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
    });
</script>



{% endblock %}