{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    返<br>回
                </a>
				<div class="seminar ">
					<h6>雙語學習</h6>
				</div>

				
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b1 hover-finger" >
                            <img src="http://i3.ytimg.com/vi/ftAbzmxFM_w/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <p>雙語國際課程 <br>外師繪本會話
                     我們邀請了一個特別的嘉賓陪孩子們玩❤️ 
                        讓孩子們可以透過特殊的活動，
                        認識不同的語言，不同國家的人，
                        雖然一開始孩子們有點害羞，
                        但是故事一開始，就慢慢的被吸引了...
                        每一個新的體驗，對孩子們來說，
                        都是全新的開始，是開啟對世界的認識。</p>
                </div>

                 <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b1 hover-finger" >
                            <img src="http://i3.ytimg.com/vi/ftAbzmxFM_w/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <p>雙語國際課程 <br>外師繪本會話</p>

                </div>


			</div>
		</div>

	</div>

</div>



<div class="clear"></div>



<div id="notice-popup-b1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/ftAbzmxFM_w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


 <script>
    $(function(){
         $('.js-open-video-b1').magnificPopup({
            items: {
                src: '#notice-popup-b1',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });


    });
</script>



{% endblock %}