{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
    {% include '_partial/aside_summer-castle-linkou.twig' %}



<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle-linkou.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>主題活動</h6>
				</div>

                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b3 hover-finger" >
                            <div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="http://i3.ytimg.com/vi/QN-d6HqzW9w/hqdefault.jpg" alt="">
                        </div>
                    </div>

                    <div class="t-text">
                            <p>謝謝秋天，太陽小雨微微風 <br>
                                森林五感藝術體驗營，大家是否玩得開心呢？<br>
                                加入夏哲森幼兒園、地衣森林的行列<br>
                                一起用五感體驗四季之美 揮灑四季的色彩吧～
                            </p>
                    </div>
                </div>






                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-oct01 hover-finger">
                            <img src="img/wisdom/oct/s01s.jpeg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-oct02 hover-finger">
                            <img src="img/wisdom/oct/s02s.jpeg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-oct03 hover-finger">
                            <img src="img/wisdom/oct/s03s.jpeg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-oct04 hover-finger">
                            <img src="img/wisdom/oct/s04s.jpeg" alt="">
                        </div>
            
                    </div>
                    <div class="t-text">
                        <h5>地震防災演練</h5> 
                        <p>921曾經是爸爸媽媽們的兒時記憶<br>
							對我們的寶貝來說<br>
							921大地震卻是一個沒有任何印象的故事<br>
							在與土地、環境共生共榮的同時<br>
							我們也要傳遞、建立面對自然災害時<br>
							如何鎮定的保護自己<br>
							安全意識的建立 就在日常的養成</p>
                    </div>
                </div>


                    

			</div>
		</div>

	</div>

</div>



<div class="clear"></div>

<div id="notice-popup-b3" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/QN-d6HqzW9w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


<div id="notice-popup-b2" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/h1LDG4cWKW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-b1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/dKmLdsPdEWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>



<div id="summer_camp-01" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-02" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-03" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_03.jpg" alt="">
    </div>
</div>
<div id="summer_camp-04" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_04.jpg" alt="">
    </div>
</div>



 <script>
    $(function(){
        $('.js-open-video-b3').magnificPopup({
            items: {
                src: '#notice-popup-b3',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });



          $('.js-open-video-b2').magnificPopup({
            items: {
                src: '#notice-popup-b2',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.js-open-video-b1').magnificPopup({
            items: {
                src: '#notice-popup-b1',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
      
    });
</script>



{% endblock %}