{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle-linkou.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle-linkou.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>營隊／體驗</h6>
				</div>
				<div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd linkou-01 hover-finger">
                            <img src="img/summer_castle/linkou_01s.jpg" alt="">
                        </div>
                        <div class="img_item-sd linkou-02 hover-finger">
                            <img src="img/summer_castle/linkou_02s.jpg" alt="">
                        </div>
                        <div class="img_item-sd linkou-03 hover-finger">
                            <img src="img/summer_castle/linkou_03s.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>新竹體驗營</h5>
                        <p></p>
                    </div>
                </div>
			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
{% include '_partial/popup-video.twig' %}

<div id="linkou-01" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/linkou_01.jpg" alt="">
    </div>
</div>
<div id="linkou-02" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/linkou_02.jpg" alt="">
    </div>
</div>
<div id="linkou-03" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/summer_castle/linkou_03.jpg" alt="">
    </div>
</div>




<script>
    $(function(){
        $('.linkou-01').magnificPopup({
            items: {
                src: '#linkou-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.linkou-02').magnificPopup({
            items: {
                src: '#linkou-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.linkou-03').magnificPopup({
            items: {
                src: '#linkou-03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        
    });
</script>



{% endblock %}