{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>學習區營造</h6>
				</div>
				

				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="img_item-sd summer_camp-nov-b01 hover-finger">
							<img src="img/wisdom/nov/n01s.jpeg" alt="">
						</div>
						<div class="img_item-sd summer_camp-nov-b02 hover-finger">
							<img src="img/wisdom/nov/n02s.jpeg" alt="">
						</div>
						<div class="img_item-sd summer_camp-nov-b03 hover-finger">
							<img src="img/wisdom/nov/n03s.jpeg" alt="">
						</div>
						
					</div>
					<div class="t-text">
							<p>你看出端倪了嗎？ <br>
								顏色、形狀、平面、立體… <br>
								單一個方塊拆解後，<br>
								上下左右前後，又分別是什麼顏色 ？<br>
								這甚至可以談論到空間概念！<br>
								每個小方塊有幾個面？<br>
								於是我們又談論到了數學、邏輯…等等<br>
								學習區真的很值得探索啊！</p>
					</div>
				</div>





				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="img_item-sd summer_camp-oct-b01 hover-finger">
							<img src="img/wisdom/oct/l01s.jpeg" alt="">
						</div>
						<div class="img_item-sd summer_camp-oct-b02 hover-finger">
							<img src="img/wisdom/oct/l02s.jpeg" alt="">
						</div>
						<div class="img_item-sd summer_camp-oct-b03 hover-finger">
							<img src="img/wisdom/oct/l03s.jpeg" alt="">
						</div>
						<div class="img_item-sd summer_camp-oct-b04 hover-finger">
							<img src="img/wisdom/oct/l04s.jpeg" alt="">
						</div>
						<div class="img_item-sd summer_camp-oct-b05 hover-finger">
							<img src="img/wisdom/oct/l05s.jpeg" alt="">
						</div>
						<div class="img_item-sd summer_camp-oct-b06 hover-finger">
							<img src="img/wisdom/oct/l06s.jpeg" alt="">
						</div>
						<div class="img_item-sd summer_camp-oct-b07 hover-finger">
							<img src="img/wisdom/oct/l01s.jpeg" alt="">
						</div>
					</div>
					<div class="t-text">
							<p>認識注音符號，<br>
								一定得用傳統的方式，<br>
								排排坐、吃果果，<br>
								才會有成效嗎？<br>
								Let’s go! 頂樓探險吧！ <br>
								帶上你的工具，<br>
								還有一顆挖寶的好奇心，<br>
								挖挖看，你發現了什麼寶藏呢？</p>
					</div>
				</div>


				<div class="seminar ">
					<div class="slick_photo slider">
							<div class="img_item-sd summer_camp-aug11 hover-finger">
								<img src="img/wisdom/aug/aug_11s.jpeg" alt="">
							</div>
						
					</div>
					<div class="t-text">
							<p>4歲，5歲，6歲... <br>

								中大班的姊姊去哪裡，<br>
								都帶著小班的新生一起玩，<br>
								這是夏哲森，夏哲森的孩子們，<br>
								總是充滿了愛❤️<br>
								
								孩子們會把他們感受到的，<br>
								學習起來，同樣的對待它人。<br>
								
								這是課本上沒有，<br>
								卻是會陪伴孩子們一輩子的...<br>
								
								“頂樓就是，隨時躺下來休息一下，<br>
								都可以成就網美照（笑）”</p>
					</div>
			</div>

				
				<div class="seminar ">
					<div class="slick_photo slider">
							<div class="img_item-sd summer_camp-may-a01 hover-finger">
									<img src="img/wisdom/may_a01s.jpg" alt="">
							</div>
							<div class="img_item-sd summer_camp-may-a02 hover-finger">
									<img src="img/wisdom/may_a02s.jpg" alt="">
							</div>
						
					</div>
					<div class="t-text">
							<p>在如此不容易的日子，
								更要從日常裡，找到能量與愛。
								
								孩子們不在，
								他們的小菜園還是努力著，
								今天收成的茄子跟苦瓜，
								看看他們長得多好？
								
								雖然現在很艱辛，
								但一定會變好的，
								只要我們如此確信著。</p>
					</div>
			</div>

			<div class="seminar ">
				<div class="slick_photo slider">
						<div class="img_item-sd summer_camp-may-b01 hover-finger">
								<img src="img/wisdom/may_b01s.jpg" alt="">
						</div>
						<div class="img_item-sd summer_camp-may-b02 hover-finger">
								<img src="img/wisdom/may_b02s.jpg" alt="">
						</div>
						<div class="img_item-sd summer_camp-may-b03 hover-finger">
								<img src="img/wisdom/may_b03s.jpg" alt="">
						</div>
					
				</div>
				<div class="t-text">
						<p>防疫升級，
							您在意的我們更在意，
							用餐使用隔板，
							孩子們除了吃飯跟午休時間，
							其餘時間緊戴口罩（孩子們超棒)</p>
				</div>
		</div>





				<div class="seminar ">
					<div class="slick_photo slider">
							<div class="video_item js-open-video-a1 hover-finger" >
									<div class="play_btn">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
									</div>
									<img src="http://i3.ytimg.com/vi/EZcdBUXZutY/hqdefault.jpg" alt="">
							</div>
					</div>
					<div class="t-text"> 
							<!-- <h5>2020/9/26</h5> -->
							<p>很多事情， <br>
									我們看見的是結果，<br>
									但教育，更珍貴的，<br>
									是過程。<br>

									這些呈現方式，<br>
									是孩子們跟老師們討論出來的，<br>
									所以更顯珍貴，<br>
									可以有更多更完美的方式，<br>
									但那都不是孩子們的想法，<br>
									不是真實的學習歷程，<br>
									如果只是教師主導，<br>
									只是一個秀，<br>
									如果是孩子為主，<br>
									不完美，也是一種完美啊，是不？<br>

									#小班遊戲中學習<br>
									#中班高層次的學習區<br>
									#大班專案式探索</p>
					</div>
			</div>
			</div>
		</div>

	</div>

</div>

<div class="clear"></div>

<div id="summer_camp-nov-b01" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
		<img src="img/wisdom/nov/n01.jpg" alt="">
	</div>
</div>

<div id="summer_camp-nov-b02" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
		<img src="img/wisdom/nov/n02.jpg" alt="">
	</div>
</div>

<div id="summer_camp-nov-b03" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
		<img src="img/wisdom/nov/n03.jpg" alt="">
	</div>
</div>


<div id="summer_camp-oct-b01" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
		<img src="img/wisdom/oct/l01.jpg" alt="">
	</div>
</div>
<div id="summer_camp-oct-b02" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
		<img src="img/wisdom/oct/l02.jpg" alt="">
	</div>
</div>
<div id="summer_camp-oct-b03" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
		<img src="img/wisdom/oct/l03.jpg" alt="">
	</div>
</div>
<div id="summer_camp-oct-b04" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
		<img src="img/wisdom/oct/l04.jpg" alt="">
	</div>
</div>
<div id="summer_camp-oct-b05" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
		<img src="img/wisdom/oct/l05.jpg" alt="">
	</div>
</div>
<div id="summer_camp-oct-b06" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
		<img src="img/wisdom/oct/l06.jpg" alt="">
	</div>
</div>
<div id="summer_camp-oct-b07" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
		<img src="img/wisdom/oct/l07.jpg" alt="">
	</div>
</div>


<div id="summer_camp-aug11" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
			<img src="img/wisdom/aug/aug_11.jpeg" alt="">
	</div>
</div>


<div id="summer_camp-may-a01" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
			<img src="img/wisdom/may_a01.jpg" alt="">
	</div>
</div>
<div id="summer_camp-may-a02" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
			<img src="img/wisdom/may_a02.jpg" alt="">
	</div>
</div>

<div id="summer_camp-may-b01" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
			<img src="img/wisdom/may_b01.jpg" alt="">
	</div>
</div>
<div id="summer_camp-may-b02" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
			<img src="img/wisdom/may_b02.jpg" alt="">
	</div>
</div>
<div id="summer_camp-may-b03" class="notice-popup5 mfp-hide">
	<div class="notice-popup_content">
			<img src="img/wisdom/may_b03.jpg" alt="">
	</div>
</div>


<div id="js-open-video-a1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/EZcdBUXZutY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


<script>
    $(function(){
		$('.summer_camp-nov-b01').magnificPopup({
			items: {
				src: '#summer_camp-nov-b01',
				type: 'inline'
			},
			mainClass: 'mfp-fade',
			removalDelay: 300,
			midClick: true
		});
		$('.summer_camp-nov-b02').magnificPopup({
			items: {
				src: '#summer_camp-nov-b02',
				type: 'inline'
			},
			mainClass: 'mfp-fade',
			removalDelay: 300,
			midClick: true
		});
		$('.summer_camp-nov-b03').magnificPopup({
			items: {
				src: '#summer_camp-nov-b03',
				type: 'inline'
			},
			mainClass: 'mfp-fade',
			removalDelay: 300,
			midClick: true
		});


		$('.summer_camp-oct-b01').magnificPopup({
			items: {
				src: '#summer_camp-oct-b01',
				type: 'inline'
			},
			mainClass: 'mfp-fade',
			removalDelay: 300,
			midClick: true
		});


		$('.summer_camp-oct-b02').magnificPopup({
				items: {
					src: '#summer_camp-oct-b02',
					type: 'inline'
				},
				mainClass: 'mfp-fade',
				removalDelay: 300,
				midClick: true
			});
			$('.summer_camp-oct-b03').magnificPopup({
				items: {
					src: '#summer_camp-oct-b03',
					type: 'inline'
				},
				mainClass: 'mfp-fade',
				removalDelay: 300,
				midClick: true
			});
			$('.summer_camp-oct-b04').magnificPopup({
				items: {
					src: '#summer_camp-oct-b04',
					type: 'inline'
				},
				mainClass: 'mfp-fade',
				removalDelay: 300,
				midClick: true
			});
			$('.summer_camp-oct-b05').magnificPopup({
				items: {
					src: '#summer_camp-oct-b05',
					type: 'inline'
				},
				mainClass: 'mfp-fade',
				removalDelay: 300,
				midClick: true
			});
			$('.summer_camp-oct-b06').magnificPopup({
				items: {
					src: '#summer_camp-oct-b06',
					type: 'inline'
				},
				mainClass: 'mfp-fade',
				removalDelay: 300,
				midClick: true
			});
			$('.summer_camp-oct-b07').magnificPopup({
				items: {
					src: '#summer_camp-oct-b07',
					type: 'inline'
				},
				mainClass: 'mfp-fade',
				removalDelay: 300,
				midClick: true
			});

			$('.summer_camp-oct-b01').magnificPopup({
				items: {
						src: '#summer_camp-oct-b01',
							type: 'inline'
					},
					mainClass: 'mfp-fade',
					removalDelay: 300,
					midClick: true
				});

			

		$('.summer_camp-aug11').magnificPopup({
			items: {
					src: '#summer_camp-aug11',
					type: 'inline'
			},
			mainClass: 'mfp-fade',
			removalDelay: 300,
			midClick: true
	});

	
		$('.summer_camp-may-a01').magnificPopup({
				items: {
						src: '#summer_camp-may-a01',
						type: 'inline'
				},
				mainClass: 'mfp-fade',
				removalDelay: 300,
				midClick: true
		});
		$('.summer_camp-may-a02').magnificPopup({
			items: {
					src: '#summer_camp-may-a02',
					type: 'inline'
			},
			mainClass: 'mfp-fade',
			removalDelay: 300,
			midClick: true
	});


	$('.summer_camp-may-b01').magnificPopup({
		items: {
				src: '#summer_camp-may-b01',
				type: 'inline'
		},
		mainClass: 'mfp-fade',
		removalDelay: 300,
		midClick: true
	});
	$('.summer_camp-may-b02').magnificPopup({
	items: {
			src: '#summer_camp-may-b02',
			type: 'inline'
	},
	mainClass: 'mfp-fade',
	removalDelay: 300,
	midClick: true
	});
	$('.summer_camp-may-b03').magnificPopup({
	items: {
			src: '#summer_camp-may-b03',
			type: 'inline'
	},
	mainClass: 'mfp-fade',
	removalDelay: 300,
	midClick: true
	});

		$('.js-open-video-a1').magnificPopup({
				items: {
						src: '#js-open-video-a1',
						type: 'inline'
				},
				mainClass: 'mfp-fade',
				removalDelay: 300,
				midClick: true
		});
      
    });
</script>

{% endblock %}