{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<div class="seminar ">
					<h6>課程照片</h6>
				</div>

                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b1 hover-finger" >
                            <img src="img/summer_castle/s-01.jpg" alt="">
                        </div>
                    </div>
                    <p>食農--聽聽孩子們在討論什麼？</p>
                </div>

				<div class="seminar ">
					<div class="slick_photo slider">
						<img src="img/hk-1.jpg" alt="">
						<img src="img/hk-2.jpg" alt="">
					</div>
					<p>夏哲森期望培養孩子國際觀與探究精神，融合IB國際學者文憑的精神，發展出跨領域的探究式統整課程，並與新加坡IB認證學校建立姊妹校關係，進行定期互訪與學術交流。</p>
				</div>

				
				<div class="seminar ">
					<div class="slick_photo slider">
							<img src="img/vango.jpg" alt="">
					</div>
					<p>梵谷：「所謂藝術，就是塑造大自然的人性，亦即塑造自然、現實、純真的人性。」
						畢卡索：「色彩是甘泉、是美味，可以讓人快樂，讓人活起來。
						我們把夏哲森後院當作藝術創作的壁面!</p>
				</div>
				

					


			</div>
		</div>

	</div>

</div>



<div class="clear"></div>

<div id="notice-popup-b1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/ZAd8m1U6-gE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>





 <script>
    $(function(){


        $('.js-open-video-b1').magnificPopup({
            items: {
                src: '#notice-popup-b1',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });



    });
</script>



{% endblock %}