{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
{% include '_partial/aside_summer-castle.twig' %}

<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<div class="summer_castle">
					<img src="img/sc-1.png" alt="">

					<div class="red_line"></div>

					<p>關於我們為什麼要創辦夏哲森，</p>
					<p>我想您可以從昕傳思開始認識！</p> <br>

					<p>如果您想要了解夏哲森，</p>
					<p>請來到夏哲森，</p>
					<p>比起猜測、耳語，</p>
					<p>孩子的笑聲會告訴你，</p>
					<p>為什麼是夏哲森...</p><br>

					<p>教育人，想要做教育，</p>
					<p>想要給孩子跟幼教老師一個安身立命場所。</p><br>

					<p>如果，你相信教育應該不一樣，</p>
					<p>那你應該要來看看，</p>
					<p>夏哲森，為什麼不一樣。</p>

					<div class="contact_us-in">

						<h6>CONTACT US</h6>

						<div class="c-row">
							<i class="fas fa-phone-alt"></i> 03-5783937
						</div>
						<div class="c-row">
							<a href="https://www.facebook.com/SummerCastleHCT/" target="_blank"> <i class="fab fa-facebook-f"></i>  夏哲森Summer Castle</a>
						</div>
						
						<div class="c-row">
							  <i class="fas fa-map-marker-alt"></i> 300新竹市東區122縣道651-629
						</div>	
						</div>
					</div>

					
					<div class="seminar ">
						<div class="main_page_slide slider">
							<a class="video_item js-open-video-4" >
								<img src="img/video_04.jpg" alt="">
							</a>
							<a class="video_item js-open-video-1" >
								<img src="img/video_01.jpg" alt="">
							</a>
							<a class="video_item js-open-video-2" >
								<img src="img/video_02.jpg" alt="">
							</a>
							<a class="video_item js-open-video-3" >
								<img src="img/video_03.jpg" alt="">
							</a>
							<a class="video_item js-open-video-5" >
								<img src="img/video_05.jpg" alt="">
							</a>
						</div>
					</div>

			</div>
		</div>

	</div>

</div>

<!-- !!! -->
<div id="summer_camp-01" class="notice-popup3 mfp-hide">
   		<div class="announce">
   			<h6>[鄭重公告]</h6>
   			<p> <b>昕傳思文教之子事業體夏哲森幼兒園，針對2020年5月14日在PTT版上，對本幼兒園的不實臆測提出鄭重聲明: </b><br>
   			2019年8月初因玉兒托嬰中心經營不善倒閉，在清大的教授邀請下期望由昕傳思團隊接手原場地，以解決玉兒已執行一半的園所工程，積欠廠商款項和已預收的家長款項問題，本團隊並於同年8月中旬與東區蔡惠婷議員相約，以了解玉兒托嬰中心發生的相關問題後，蔡議員認同倘有優質教育團隊願意接手此園，一方面可解決廠商款項，另一方面更可帶來關埔區的優質教育氛圍，因此在溝通協調下亦鼓勵本團隊接下此業務，特在此說明原委。</p>
   			　　<p>另，關於今日在PTT版上對夏哲森的不實臆測說法，我們將會截圖並保留法律追訴權。再次重申，新竹市私立夏哲森幼兒園隸屬於昕傳思文教事業，並業於2020年1月完成立案，旗下除有夏哲森幼兒園新竹校區，林口校區外、即將完成立案的哲哲學苑補習事業與新北美國學校合作辦學的相關事業體，與其它教育單位沒有任何關聯，昕傳思文教事業專業獨立辦學，再次鄭重聲明公告！倘有疑慮，請逕行上昕傳思文教官網查詢及確認！</p></div>
    
</div>
 <script>
    $(function(){
		setTimeout(function() {
			   $.magnificPopup.open({
			    items: {
			        src: '#summer_camp-01' 
			    },
			    type: 'inline'
			      });
		 }, 1000);
    });
</script>
<!-- !!! -->



<div class="clear"></div>
{% include '_partial/popup-video.twig' %}

 <script>
    $(function(){
        $('.summer_camp-01').magnificPopup({
            items: {
                src: '#summer_camp-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-02').magnificPopup({
            items: {
                src: '#summer_camp-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-03').magnificPopup({
            items: {
                src: '#summer_camp-03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-04').magnificPopup({
            items: {
                src: '#summer_camp-04',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
    });
</script>



{% endblock %}