{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}



<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    返<br>回
                </a>
				<div class="seminar ">
					<h6>主題活動</h6>
				</div>

                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b2 hover-finger" >
                            <div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="http://i3.ytimg.com/vi/h1LDG4cWKW4/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>今天2020/6/12我們去動物園</h5>
                        <p>今天是個風和日麗的好天氣， <br>
                            有太陽，有風， <br>
                            有蟬叫聲，滿滿的夏天氣息。 <br>
                            孩子們到動物園看動物，<br>
                            野餐，吹泡泡，好開心。 <br>
                            孩子們度過一個美好的星期五早上☀️ <br>
                            希望下次出遊也可以這麼幸運唷 ❤️ 
                         </p>
                    </div>
                </div>

				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="video_item js-open-video-b1 hover-finger" >
                            <div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
							<img src="http://i3.ytimg.com/vi/dKmLdsPdEWI/hqdefault.jpg" alt="">
						</div>
					</div>
                    <div class="t-text">
                        <h5>吃飽了嗎？快跟夏哲森的孩子一起享受午餐時光吧！</h5>
                       
                    </div>
				</div>

				<div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/summer_castle/registered_dat_01.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-02 hover-finger">
                            <img src="img/summer_castle/registered_dat_02.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-03 hover-finger">
                            <img src="img/summer_castle/registered_dat_03.jpg" alt="">
                        </div>
                      
                    </div>
                    <div class="t-text">
                        <h5>2020/05/16</h5>
                        <p>新生註冊日</p>
                    </div>
                </div>
					

			</div>
		</div>

	</div>

</div>



<div class="clear"></div>

<div id="notice-popup-b2" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/h1LDG4cWKW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-b1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/dKmLdsPdEWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>



<div id="summer_camp-01" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-02" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-03" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_03.jpg" alt="">
    </div>
</div>
<div id="summer_camp-04" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_04.jpg" alt="">
    </div>
</div>



 <script>
    $(function(){
          $('.js-open-video-b2').magnificPopup({
            items: {
                src: '#notice-popup-b2',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.js-open-video-b1').magnificPopup({
            items: {
                src: '#notice-popup-b1',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
      
    });
</script>



{% endblock %}