{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<div class="seminar ">
					<h6>課程照片</h6>
				</div>

				<div class="seminar ">
					<div class="slick_photo slider">
						<img src="img/hk-1.jpg" alt="">
						<img src="img/hk-2.jpg" alt="">
					</div>
					<p>夏哲森期望培養孩子國際觀與探究精神，融合IB國際學者文憑的精神，發展出跨領域的探究式統整課程，並與新加坡IB認證學校建立姊妹校關係，進行定期互訪與學術交流。</p>
				</div>

				
				<div class="seminar ">
					<div class="slick_photo slider">
							<img src="img/vango.jpg" alt="">
					</div>
					<p>梵谷：「所謂藝術，就是塑造大自然的人性，亦即塑造自然、現實、純真的人性。」
						畢卡索：「色彩是甘泉、是美味，可以讓人快樂，讓人活起來。
						我們把夏哲森後院當作藝術創作的壁面!</p>
				</div>
				

					<div class="seminar ">
						<div class="slick_photo slider">
							<div class="video_item js-open-video-b1 hover-finger" >
								<img src="img/v-01.jpg" alt="">
							</div>
						</div>
						<p>食農--聽聽孩子們在討論什麼？</p>
					</div>


			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
{% include '_partial/popup-video.twig' %}

<div id="summer_camp-01" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-02" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-03" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_03.jpg" alt="">
    </div>
</div>
<div id="summer_camp-04" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_04.jpg" alt="">
    </div>
</div>



 <script>
    $(function(){
        $('.summer_camp-01').magnificPopup({
            items: {
                src: '#summer_camp-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-02').magnificPopup({
            items: {
                src: '#summer_camp-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-03').magnificPopup({
            items: {
                src: '#summer_camp-03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-04').magnificPopup({
            items: {
                src: '#summer_camp-04',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
    });
</script>



{% endblock %}