{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle-linkou.twig' %}


<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle-linkou.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>

                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-may01 hover-finger">
                            <img src="img/wisdom/may_d01s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-may02 hover-finger">
                            <img src="img/wisdom/may_d02s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-may03 hover-finger">
                            <img src="img/wisdom/may_d03s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-may04 hover-finger">
                            <img src="img/wisdom/may_d04s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-may05 hover-finger">
                            <img src="img/wisdom/may_d05s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-may06 hover-finger">
                            <img src="img/wisdom/may_d06s.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        {# <h5>2020/8/22</h5> #}
                        <p>為什麼，你要選擇，夏哲森？</p>
                    </div>
                </div>



                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/summer_castle/summer_castle_linkou-0822-1.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/summer_castle/summer_castle_linkou-0822-2.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/summer_castle/summer_castle_linkou-0822-3.jpg" alt="">
                        </div>
                    
                    
                    </div>
                    <div class="t-text">
                        <h5>2020/8/22</h5>
                        <p>第二場 亞昕建設說明會</p>
                    </div>
                </div>

                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/summer_castle/summer_castle_linkou-0801-1.jpg" alt="">
                        </div>
                          <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/summer_castle/summer_castle_linkou-0801-2.jpg" alt="">
                        </div>
                          <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/summer_castle/summer_castle_linkou-0801-3.jpg" alt="">
                        </div>
                          <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/summer_castle/summer_castle_linkou-0801-4.jpg" alt="">
                        </div>
                          <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/summer_castle/summer_castle_linkou-0801-5.jpg" alt="">
                        </div>
                          <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/summer_castle/summer_castle_linkou-0801-6.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>2020/8/1 </h5>
                        <p>新北美國學校AAIA首場說明會</p>
                    </div>
                </div>


                <div class="seminar ">
                    <div class="slick_photo slider">
                    
                        <div class="img_item-sd summer_camp-03 hover-finger">
                            <img src="img/summer_castle/summer_castle_02.jpg" alt="">
                        </div>
                      
                    </div>
                    <div class="t-text">
                        <h5>夏哲森上一樓模板囉! </h5>
                    </div>
                </div>



				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="video_item js-open-video-b1 hover-finger" >
							<div class="play_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                        </div>
							<img src="http://i3.ytimg.com/vi/zHZ8RYDvNuI/hqdefault.jpg" alt="">
						</div>
					</div>
					 <div class="t-text">
                    	<h5>我們已於2020/6/3開工動土囉!</h5>
                	</div>
				</div>


			
			</div>
		</div>

	</div>

</div>



<div class="clear"></div>

<div id="notice-popup-01" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
		<iframe src="https://www.youtube.com/embed/zHZ8RYDvNuI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="summer_camp-may01" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/may_d01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-may02" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/may_d02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-may03" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/may_d03.jpg" alt="">
    </div>
</div>
<div id="summer_camp-may04" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/may_d04.jpg" alt="">
    </div>
</div>
<div id="summer_camp-may05" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/may_d05.jpg" alt="">
    </div>
</div>
<div id="summer_camp-may06" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/may_d06.jpg" alt="">
    </div>
</div>



<script>
    $(function(){
        $('.summer_camp-may01').magnificPopup({
            items: {
                src: '#summer_camp-may01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-may02').magnificPopup({
            items: {
                src: '#summer_camp-may02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-may03').magnificPopup({
            items: {
                src: '#summer_camp-may03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
    
        $('.summer_camp-may04').magnificPopup({
            items: {
                src: '#summer_camp-may04',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-may05').magnificPopup({
            items: {
                src: '#summer_camp-may05',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-may06').magnificPopup({
            items: {
                src: '#summer_camp-may06',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });



        $('.js-open-video-b1').magnificPopup({
            items: {
                src: '#notice-popup-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

    
    });
</script>



{% endblock %}