{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}


<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<a href="summer_castle.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>

					<div class="seminar ">
						<h6>說明會</h6>
					</div>


				
					<div class="seminar ">
						<div class="slick_photo slider lb-2022nov-01">
							<img src="img/wisdom/2022_nov/nov_01s.jpg" alt="">
						</div>
						<div class="t-text">
							<p>
								號外！！！ <br>
								2023夏哲森新的學用品跟週邊出爐囉！ 
								之後會公開預購跟加購的訊息喔♥️<br>
								敬請期待...<br>
								小聲的說，小編自己已經收到保溫杯了，
								超級美麗，超棒！！！ <br>
								#Rico陶瓷保溫杯</p>
						</div>
					</div>


					<div class="seminar ">
						<div class="slick_photo slider">
							<img src="img/summer_castle/admissions_01.jpg" alt="">
						</div>
					<div class="t-text">
						<h5>2020/7/18 上午10:00</h5>
						<p>夏哲森新竹校區</p>
					</div>
					</div>
					
					


				<div class="seminar ">
					<div class="slick_photo slider">
						<img src="img/1124-1.jpg" alt="">
						<img src="img/1124-2.jpg" alt="">
					</div>
					<div class="t-text">
                        <h5>2019/11/24</h5>
                        <p>興富發建案銷售中心說明會</p>
                    </div>
				</div>
				
				<div class="seminar ">
					<div class="slick_photo slider">
						<img src="img/1120-1.jpg" alt="">
						<img src="img/1120-2.jpg" alt="">
						<img src="img/1120-3.jpg" alt="">
						<img src="img/1120-4.jpg" alt="">
					</div>
					<div class="t-text">
                        <h5>2019/11/20</h5>
                        <p>家乘家工作室說明會</p>
                    </div>
				</div>
				
				<div class="seminar ">
					<div class="slick_photo slider">
						<img src="img/1117-1.jpg" alt="">
						<img src="img/1117-2.jpg" alt="">
					</div>
					<div class="t-text">
                        <h5>2019/11/17</h5>
                        <p>興富發建案銷售中心說明會</p>
                    </div>
				</div>


				<div class="seminar ">
					<div class="slick_photo slider">
						<img src="img/1113-1.jpg" alt="">
						<img src="img/1113-2.jpg" alt="">
					</div>
					<div class="t-text">
                        <h5>2019/11/13</h5>
                        <p>家乘家工作室首場迷你說明會</p>
                    </div>
				</div>


				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="video_item js-open-video-b2 hover-finger" >
							<img src="img/v-01.jpg" alt="">
						</div>
					</div>
					<div class="t-text">
                        <h5>課程說明會</h5>
                    </div>
				</div>


				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="video_item js-open-video-b1 hover-finger" >
							<img src="img/v-04.jpg" alt="">
						</div>
					</div>
					<div class="t-text">
                        <h5>2020/01/19</h5>
                        <p>OPEN DAY</p>
                    </div>
				</div>
			</div>
		</div>

	</div>

</div>



<div class="clear"></div>


<div id="notice-popup-b5" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/IkTtp1m6fxc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b2" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/CyV6jQGTcWk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


<div id="notice-popup-b1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/Qlhe0yx1HOM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


<div id="lb-2022nov-01" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_nov/nov_01.png" alt="">
    </div>
</div>




<div id="summer_camp-01" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
		<img src="img/summer_camp_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-02" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
		<img src="img/summer_camp_02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-03" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
		<img src="img/summer_camp_03.jpg" alt="">
    </div>
</div>
<div id="summer_camp-04" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
		<img src="img/summer_camp_04.jpg" alt="">
    </div>
</div>



 <script>
    $(function(){
		$('.lb-2022nov-01').magnificPopup({
            items: {
                src: '#lb-2022nov-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

	$('.js-open-video-b5').magnificPopup({
            items: {
                src: '#notice-popup-b5',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

	$('.js-open-video-b2').magnificPopup({
            items: {
                src: '#notice-popup-b2',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.js-open-video-b1').magnificPopup({
            items: {
                src: '#notice-popup-b1',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
    });
</script>



{% endblock %}