{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>學習區營造</h6>
				</div>

				<div class="seminar ">
					<div class="slick_photo slider">
							<div class="video_item js-open-video-a1 hover-finger" >
									<div class="play_btn">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
									</div>
									<img src="http://i3.ytimg.com/vi/EZcdBUXZutY/hqdefault.jpg" alt="">
							</div>
					</div>
					<div class="t-text"> 
							<!-- <h5>2020/9/26</h5> -->
							<p>很多事情， <br>
									我們看見的是結果，<br>
									但教育，更珍貴的，<br>
									是過程。<br>

									這些呈現方式，<br>
									是孩子們跟老師們討論出來的，<br>
									所以更顯珍貴，<br>
									可以有更多更完美的方式，<br>
									但那都不是孩子們的想法，<br>
									不是真實的學習歷程，<br>
									如果只是教師主導，<br>
									只是一個秀，<br>
									如果是孩子為主，<br>
									不完美，也是一種完美啊，是不？<br>

									#小班遊戲中學習<br>
									#中班高層次的學習區<br>
									#大班專案式探索</p>
					</div>
			</div>

					
					

			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
<div id="js-open-video-a1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/EZcdBUXZutY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


 <script>
    $(function(){
        $('.js-open-video-a1').magnificPopup({
            items: {
                src: '#js-open-video-a1',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
      
    });
</script>

{% endblock %}