{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>營隊／體驗</h6>
				</div>

				<div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-aa1 hover-finger" >
                            <div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="http://i3.ytimg.com/vi/IkTtp1m6fxc/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>2020/7/8 <br>科學戶外泡泡Party</h5>
                        <p> 老師帶著孩子體驗搭公車到日光公園，
                            孩子們非常的棒跟著老師一起排隊手牽手，
                            我們也要感謝太陽公公，
                            賜給我們一個如此美好的天氣，
                            有陽光，但同時也有涼涼的風...
                            風吹過來，泡泡就會自己跑出來，
                            好多好多！
                            帥帥哥哥今天準備了好多的工具陪我們玩，
                            有大大小小的泡泡，
                            我們還被大泡泡包圍起來呢，
                            而且這個泡泡超神奇的可以停留好久好久，
                            真的好好玩：)
                            最近夏哲森都有辦很多的活動喔，
                            邀請大家跟我們一起來玩！
                         </p>
                    </div>
                </div>


				
				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="img_item-sd summer_camp-01 hover-finger">
							<img src="img/summer_camp_01.jpg" alt="">
						</div>
						<div class="img_item-sd summer_camp-02 hover-finger">
							<img src="img/summer_camp_02.jpg" alt="">
						</div>
						<div class="img_item-sd summer_camp-03 hover-finger">
							<img src="img/summer_camp_03.jpg" alt="">
						</div>
						<div class="img_item-sd summer_camp-04 hover-finger">
							<img src="img/summer_camp_04.jpg" alt="">
						</div>
					</div>
					<div class="t-text">
                        <h5>2020</h5>
                        <p>夏令營</p>
                    </div>
				</div>

				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="video_item js-open-video-b8 hover-finger" >
							<img src="img/v-08.jpg" alt="">
						</div>
					</div>
					<div class="t-text">
                        <h5>2020/3/14</h5>
                        <p>轉轉機器人 
                         </p>
                    </div>
					
				</div>


				
				

				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="video_item js-open-video-b5 hover-finger" >
							<img src="img/v-05.jpg" alt="">
						</div>
					</div>
					<div class="t-text">
                        <h5>2020/02/21</h5>
                        <p>新生體驗營</p>
                    </div>
				</div>

				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="video_item js-open-video-b6 hover-finger" >
							<img src="img/v-06.jpg" alt="">
						</div>
					</div>
					<div class="t-text">
                        <h5>2020/02/21</h5>
                        <p>顏色派對</p>
                    </div>
				</div>

				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="video_item js-open-video-b7 hover-finger" >
							<img src="img/v-07.jpg" alt="">
						</div>
					</div>
					<div class="t-text">
                        <h5>2020/02/21</h5>
                        <p>泡泡科學</p>
                    </div>
				</div>

				<div class="seminar ">
					<div class="slick_photo slider">
						<img src="img/v-03.jpg" alt="">
					</div>
					<div class="t-text">
                        <h5>2020/01/04</h5>
                        <p>新竹巨城</p>
                    </div>
				</div>
				

				<div class="seminar ">
					<div class="slick_photo slider">
						<div class="video_item js-open-video-b2 hover-finger" >
							<img src="img/v-02.jpg" alt="">
						</div>

						<img src="img/edm-1.png" alt="">
						<img src="img/edm-2.png" alt="">
						<img src="img/edm-3.png" alt="">
						<img src="img/edm-4.png" alt="">

					</div>
					<div class="t-text">
                        <h5>STEAM泡泡科學營</h5>
                    </div>
				</div>

					
					

			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
{% include '_partial/popup-video.twig' %}


<div id="notice-popup-aa1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/IkTtp1m6fxc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


<div id="summer_camp-01" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-02" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-03" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_03.jpg" alt="">
    </div>
</div>
<div id="summer_camp-04" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_04.jpg" alt="">
    </div>
</div>



 <script>
    $(function(){
    	$('.js-open-video-aa1').magnificPopup({
            items: {
                src: '#notice-popup-aa1',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-01').magnificPopup({
            items: {
                src: '#summer_camp-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-02').magnificPopup({
            items: {
                src: '#summer_camp-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-03').magnificPopup({
            items: {
                src: '#summer_camp-03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-04').magnificPopup({
            items: {
                src: '#summer_camp-04',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
    });
</script>



{% endblock %}