{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_summer-castle.twig' %}


<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<div class="summer_castle">
					<img src="img/sc-1.png" alt="">

					<p>關於我們為什麼要創辦夏哲森，</p>
					<p>我想您可以從昕傳思開始認識！</p> <br>

					<p>如果您想要了解夏哲森，</p>
					<p>請來到夏哲森，</p>
					<p>比起猜測、耳語，</p>
					<p>孩子的笑聲會告訴你，</p>
					<p>為什麼是夏哲森...</p><br>

					<p>教育人，想要做教育，</p>
					<p>想要給孩子跟幼教老師一個安身立命場所。</p><br>

					<p>如果，你相信教育應該不一樣，</p>
					<p>那你應該要來看看，</p>
					<p>夏哲森，為什麼不一樣。</p>

					<div class="contact_us-in">

						<h6>CONTACT US</h6>

						<div class="c-row">
							<i class="fas fa-phone-alt"></i> 03-5783937
						</div>
						<div class="c-row">
							<a href="https://www.facebook.com/SummerCastleHCT/" target="_blank"> <i class="fab fa-facebook-f"></i>  夏哲森Summer Castle</a>
						</div>
						
						<div class="c-row">
							  300新竹市東區122縣道651-629
						</div>	

						<!-- <div class="fb">
							<a href="https://www.facebook.com/SummerCastleHCT/" target="_blank" class="fb"><i class="fab fa-facebook-f"></i></a></div> -->
						</div>

					</div>


					<div class="vidoe_row">
						<a class="video_item js-open-video-4" >
							<img src="img/video_04.jpg" alt="">
						</a>

						<a class="video_item js-open-video-1" >
							<img src="img/video_01.jpg" alt="">
						</a>
						<a class="video_item js-open-video-2" >
							<img src="img/video_02.jpg" alt="">
						</a>
						<a class="video_item js-open-video-3" >
							<img src="img/video_03.jpg" alt="">
						</a>
						<div class="video_item" style="border: 1px solid #eee; width:32%"><img src="img/comingsoon.jpg" alt=""></div>
						
						<a class="video_item js-open-video-5" >
							<img src="img/video_05.jpg" alt="">
						</a>

					</div>


					

			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
{% include '_partial/popup-video.twig' %}

<div id="summer_camp-01" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-02" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-03" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_03.jpg" alt="">
    </div>
</div>
<div id="summer_camp-04" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_camp_04.jpg" alt="">
    </div>
</div>



 <script>
    $(function(){
        $('.summer_camp-01').magnificPopup({
            items: {
                src: '#summer_camp-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-02').magnificPopup({
            items: {
                src: '#summer_camp-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-03').magnificPopup({
            items: {
                src: '#summer_camp-03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-04').magnificPopup({
            items: {
                src: '#summer_camp-04',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
    });
</script>



{% endblock %}