{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
    {% include '_partial/aside_summer-castle-linkou.twig' %}



<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="summer_castle-linkou.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>主題活動</h6>
				</div>
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-oct01 hover-finger">
                            <img src="img/wisdom/oct/s01s.jpeg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-oct02 hover-finger">
                            <img src="img/wisdom/oct/s02s.jpeg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-oct03 hover-finger">
                            <img src="img/wisdom/oct/s03s.jpeg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-oct04 hover-finger">
                            <img src="img/wisdom/oct/s04s.jpeg" alt="">
                        </div>
            
                    </div>
                    <div class="t-text">
                        <h5>地震防災演練</h5> 
                        <p>921曾經是爸爸媽媽們的兒時記憶<br>
							對我們的寶貝來說<br>
							921大地震卻是一個沒有任何印象的故事<br>
							在與土地、環境共生共榮的同時<br>
							我們也要傳遞、建立面對自然災害時<br>
							如何鎮定的保護自己<br>
							安全意識的建立 就在日常的養成</p>
                    </div>
                </div>


                    

			</div>
		</div>

	</div>

</div>



<div class="clear"></div>

<div id="notice-popup-b2" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/h1LDG4cWKW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-b1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/dKmLdsPdEWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>



<div id="summer_camp-01" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-02" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-03" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_03.jpg" alt="">
    </div>
</div>
<div id="summer_camp-04" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/summer_castle/registered_dat_04.jpg" alt="">
    </div>
</div>



 <script>
    $(function(){
          $('.js-open-video-b2').magnificPopup({
            items: {
                src: '#notice-popup-b2',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.js-open-video-b1').magnificPopup({
            items: {
                src: '#notice-popup-b1',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
      
    });
</script>



{% endblock %}