{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

<div class="indside_banner product_summer_castle"></div>

<div class="main_content">

<!-- aside -->
    {% include '_partial/aside_wisdom-linkou.twig' %}


<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="wisdom-linkou.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>雙語學習</h6>
				</div>
                
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd lb-2022aug-13 hover-finger">
                            <img src="img/wisdom/2022_aug/aug_13s.jpg" alt="">
                        </div>
                        <div class="img_item-sd lb-2022aug-14 hover-finger">
                            <img src="img/wisdom/2022_aug/aug_14s.jpg" alt="">
                        </div>

                    </div>
                    <div class="t-text">
                        <h5>Making super jelly balls(not for eating!!!</h5>
                        <p>1. You pour 4 grams of sodium alginate into  the hot water and stir them evenly. <br>
                            2. You also need to prepare three different kinds of color drinks such like apple juice, grape juice or vegetable juice. <br>
                            3. Adding chloride calcium into #2 each individually and mix them all. <br>
                            4. Using dropper and adding a few drops of #3  into #1 and you will see chunky jellies floating on the top.</p>
                    </div>
                </div>



                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-may01 hover-finger">
                            <img src="img/wisdom/may_f01s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-may01 hover-finger">
                            <img src="img/wisdom/may_f02s.jpg" alt="">
                        </div>
                        
                    </div>
                    <div class="t-text">
                        <p>小時候是被補習班餵養知識長大的，
                            長大後發現，很多都忘了，
                            只是為了應付一次又一次的考試，
                            真正記在腦袋瓜子裡的，
                            都是聽過的英文歌歌詞，
                            記得某部電影裡經典喜歡的句子，
                            那些不痛苦的反而成為長期記憶，
                            那麼，用對方法，
                            讓孩子們在遊戲操作中習得能力，
                            就非常的重要了。</p>
                    </div>
                </div>
				
			</div>
		</div>
	</div>
</div>


<div class="clear"></div>

<div id="lb-2022aug-13" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
		<img src="img/wisdom/2022_aug/aug_13.jpg" alt="">
    </div>
</div>
<div id="lb-2022aug-14" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
		<img src="img/wisdom/2022_aug/aug_14.jpg" alt="">
    </div>
</div>

<div id="summer_camp-may01" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/may_f01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-may02" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/may_f02.jpg" alt="">
    </div>
</div>

<script>
    $(function(){
        $('.lb-2022aug-13').magnificPopup({
            items: {
                src: '#lb-2022aug-13',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022aug-14').magnificPopup({
            items: {
                src: '#lb-2022aug-14',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });


        $('.summer_camp-may01').magnificPopup({
            items: {
                src: '#summer_camp-may01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        
        $('.summer_camp-may02').magnificPopup({
            items: {
                src: '#summer_camp-may02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

    });
</script>



{% endblock %}