{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
    {% include '_partial/aside_wisdom-linkou.twig' %}



<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="wisdom-linkou.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>主題活動</h6>
				</div>
                
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd lb-2022nov-12 hover-finger">
                            <img src="img/wisdom/2022_nov/nov_12s.jpg" alt="">
                        </div>
                        
                        <div class="img_item-sd lb-2022nov-13 hover-finger">
                            <img src="img/wisdom/2022_nov/nov_13s.jpg" alt="">
                        </div>
                        <div class="img_item-sd lb-2022nov-14 hover-finger">
                            <img src="img/wisdom/2022_nov/nov_14s.jpg" alt="">
                        </div>

                    </div>
                    <div class="t-text">
                        <p>秋天來了，夏天慢慢的告別... <br>
                            天氣慢慢變涼了，楓葉紅了！</p>
                    </div>
                </div>




			</div>
		</div>

	</div>

</div>



<div class="clear"></div>

<div id="lb-2022nov-12" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_nov/nov_12.jpg" alt="">
    </div>
</div>
<div id="lb-2022nov-13" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_nov/nov_13.jpg" alt="">
    </div>
</div>
<div id="lb-2022nov-14" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_nov/nov_14.jpg" alt="">
    </div>
</div>










<script>
    $(function(){
        $('.lb-2022nov-12').magnificPopup({
            items: {
                src: '#lb-2022nov-12',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022nov-13').magnificPopup({
            items: {
                src: '#lb-2022nov-13',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022nov-14').magnificPopup({
            items: {
                src: '#lb-2022nov-14',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

    });
</script>



{% endblock %}