{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
	{% include '_partial/aside_wisdom-linkou.twig' %}


<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
                <a href="wisdom-linkou.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
					<div class="seminar ">
						<h6>說明會</h6>
					</div>

                    <div class="seminar ">
                        <div class="slick_photo slider">
                            <div class="img_item-sd summer_camp-jun01 hover-finger">
                                <img src="img/wisdom/jun/dm_a01s.jpeg" alt="">
                            </div>
                            
                        </div>
                        <div class="t-text">
                            {# <h5>停課不停學，英文網課上起來🙂🙂</h5> #}
                            <p>學習的延伸...當林口校區的校舍慢慢地呈現到我們的眼前，哲哲也慢慢的在籌備中，當初我們為什麼創立了哲哲? <br>

                                一年了，初衷還是如當時那樣，很單純的思考，學校的圍牆之外，教育是否可以有不一樣的可能?<br>
                                
                                學校的圍牆裡面的一切都是有規律性的，理所當然的課程、理所當然的作息，理所當然的教學模式，理所當然孩子們的樣貌，公立學校待久了，有時候會想，學校的圍牆外和體制外，教育有沒有可能不一樣?<br>
                                
                                回顧自己求學到工作的歷程，會發現，跳脫了學校的體制，傳統社會認知中我們所應該要學會的那些，還有很多的東西，是因著自己想要知道更多，自主性的去培養增長的，而許多更是跟自己本來學的專業不一定相關，在這樣的過程中發現到，當我們主動地去求知時，那些看似艱澀困難的，竟然，有了不一樣的結果。<br>
                                
                                2020年，一起攜手打拼的教育夥伴們在創立了夏哲森後，和幾位國教輔導團的退休數學、理化老師相聚，我們談起補習跟進修教育的想法，笑談間延伸法條外的說法，希望補習教育是社會推展終身學習、滿足學子或正規教育外更多的學習欲望和眾人對於成就的期待，說到這裡，我們開始有了不一樣的想像。<br>
                                
                                補習事業對於許多的人來說，常會聯想到營利，但我們開始思考，補習教育其實也可以具有更多的教育理念，讓我們帶孩子去探索，那些不能在緊湊的學校體制下完成，卻有可能在文教機構裡實踐的。<br>
                                
                                大多數孩子對於科學、數學被扼殺興趣的領域，如何讓孩子邏輯思考能力有更有趣的學習，更專業的指導、更生活化的結合但可具有成效，能保有進入國中階段面臨人生第一次學習分流前，仍能有探索、創思、理解、語言興趣…，好多的可能性話語一直從腦中跳出來，同時間老師們看著身為召集人的自己，此時在夏哲森對面的麥當勞秘密基地，決定創造另一個可能性…!<br>
                                
                                於是我們有了「哲哲」。<br>
                                
                                今年哲哲推出了線上的課程，邀請您一起，從參與課程開始，認識哲哲，讓我們一起期待林口哲哲學苑的來臨。<br>
                                
                                #哲哲學苑林口#哲哲學苑新竹#夏哲森幼兒園#昕傳思</p>
                        </div>
                    </div>

			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
<div id="summer_camp-jun01" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/jun/dm_a01.jpeg" alt="">
    </div>
</div>

 <script>
    $(function(){
    
        $('.summer_camp-jun01').magnificPopup({
            items: {
                src: '#summer_camp-jun01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });




    });
</script>




{% endblock %}