{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
    {% include '_partial/aside_wisdom.twig' %}



<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				 <a href="wisdom.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/wisdom/nationday_01s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-02 hover-finger">
                            <img src="img/wisdom/nationday_02s.jpg" alt="">
                        </div>
                  
                      
                    </div>
                    <div class="t-text">
                        <h5>《Double Ten National Day》</h5>
                        <p>國慶日， <br>
                            認識我們生長的土地，<br>
                            認識我們的國旗，<br>
                            因為這裡是我們生長的家園！</p>
                    </div>
                </div>


			</div>
		</div>

	</div>

</div>



<div class="clear"></div>




<div id="summer_camp-01" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/wisdom/nationday_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-02" class="notice-popup5 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/wisdom/nationday_02.jpg" alt="">
    </div>
</div>




 <script>
    $(function(){
          $('.summer_camp-01').magnificPopup({
            items: {
                src: '#summer_camp-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-02').magnificPopup({
            items: {
                src: '#summer_camp-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
      
    });
</script>



{% endblock %}