{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_wls"></div>


<div class="main_content">

	{% include '_partial/aside_wisdom.twig' %}

	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<div class="summer_castle">
					
					<div class="text">
						<img src="img/wisdom/wisdom_logo-1.png" alt="">

						<div class="red_line"></div>

						<p>學校的圍牆之外，</p> <br>
						<p>教育是否可以有不一樣的可能?</p> <br>
						<p>補習事業對於許多的人來說，常會聯想到營利，但我們開始思考，補習教育其實也可以具有更多的教育理念，讓我們帶孩子去探索，那些不能在緊湊的學校體制下完成，卻有可能在文教機構裡實踐的。</p><br>
						<p>大多數孩子對於科學、數學被扼殺興趣的領域，如何讓孩子邏輯思考能力有更有趣的學習，更專業的指導、更生活化的結合但可具有成效，能保有進入國中階段面臨人生第一次學習分流前，仍能有探索、創思、理解、語言興趣⋯⋯，好多的可能性話語一直從腦中跳出來，同時間老師們看著身為召集人的自己，此時在夏哲森對面的麥當勞秘密基地，決定創造另一個可能性⋯⋯!</p><br>
						<p>於是我們有了「哲哲」。</p>
					</div>

					<div class="contact_us-in">

						<h6>CONTACT US</h6>

						<div class="c-row">
							<i class="fas fa-phone-alt"></i> 03-5678286
						</div>
						<div class="c-row">
							<a href="https://www.facebook.com/%E5%93%B2%E5%93%B2%E5%AD%B8%E8%8B%91-Wisdom-language-school-104223541237060/" target="_blank"> <i class="fab fa-facebook-f"></i>  哲哲學院 Wisdom language school</a>
						</div>
						
						<div class="c-row">
							  <i class="fas fa-map-marker-alt"></i>  300 新竹市東區光復路一段649號
						</div>	

					
						</div>

					</div>
					<div class="seminar ">
						<div class="main_page_slide slider">
							<a class="summer_camp-01 js-open-video-4" >
								<img src="img/wls_01s.jpg" alt="">
							</a>
							<a class="summer_camp-02 js-open-video-1" >
								<img src="img/wls_02s.jpg" alt="">
							</a>
							<a class="summer_camp-03 js-open-video-2" >
								<img src="img/comingsoons.jpg" alt="">
							</a>
							<a class="summer_camp-04" >
                                <img src="img/wisdom/wisdom-linkou_01s.jpg" alt="">
                            </a>
                            <a class="summer_camp-05" >
                                <img src="img/wisdom/wisdom-linkou_02s.jpg" alt="">
                            </a>
                            <a class="summer_camp-06" >
                                <img src="img/wisdom/wisdom-linkou_03s.jpg" alt="">
                            </a>
						</div>
					</div>

					<br><br>

					
			
			</div>
		</div>

	</div>
	
</div>




<div class="clear"></div>

<div id="summer_camp-01" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/wls_01.jpg" alt="">
    </div>
</div>
<div id="summer_camp-02" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/wls_02.jpg" alt="">
    </div>
</div>
<div id="summer_camp-03" class="notice-popup3 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/img/wls_03.jpg" alt="">
    </div>
</div>



<div id="wisdom-linkou-04" class="notice-popup2 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/wisdom/wisdom-linkou_01.jpg" alt="">
    </div>
</div>
<div id="wisdom-linkou-05" class="notice-popup2 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/wisdom/wisdom-linkou_02.jpg" alt="">
    </div>
</div>
<div id="wisdom-linkou-06" class="notice-popup2 mfp-hide">
    <div class="notice-popup_content">
   		<img src="img/wisdom/wisdom-linkou_03.jpg" alt="">
    </div>
</div>




 <script>
    $(function(){
        $('.summer_camp-01').magnificPopup({
            items: {
                src: '#summer_camp-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-02').magnificPopup({
            items: {
                src: '#summer_camp-02',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-03').magnificPopup({
            items: {
                src: '#summer_camp-03',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });



        $('.summer_camp-04').magnificPopup({
            items: {
                src: '#wisdom-linkou-04',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-05').magnificPopup({
            items: {
                src: '#wisdom-linkou-05',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.summer_camp-06').magnificPopup({
            items: {
                src: '#wisdom-linkou-06',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
       
    });
</script>





{% endblock %}