{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
    {% include '_partial/aside_wisdom.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				 <a href="wisdom.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>雙語學習</h6>
				</div>
                
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/wisdom/jun_01.jpeg" alt="">
                        </div>
                    
                    </div>
                    <div class="t-text">
                        <h5>What shapes do you know？</h5>
                        <p>Most people know: Circle, triangle, square, rectangle, and diamond.
                            Extra points if you know: Parallelogram, trapezoid, pentagon, hexagon, octagon, and oval.
                            The student correctly identifies the shape of a diamond!
                            and Teacher Echo shining bright!</p>
                    </div>
                </div>


                {# <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-01 hover-finger">
                            <img src="img/wisdom/nationday_01s.jpg" alt="">
                        </div>
                        <div class="img_item-sd summer_camp-02 hover-finger">
                            <img src="img/wisdom/nationday_02s.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>《Double Ten National Day》</h5>
                        <p>國慶日， <br>
                            認識我們生長的土地，<br>
                            認識我們的國旗，<br>
                            因為這裡是我們生長的家園！</p>
                    </div>
                </div> #}

				
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b3 hover-finger" >
                            <div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="http://i3.ytimg.com/vi/zpcmvfD_wJ8/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>【英語世界村 試上體驗課】</h5>
                        <p>從「飛」認識 <br>
                            延伸至「飛行工具」<br>
                            原來跑道上的編號代表跑道的名字<br>
                            指示著飛行員起飛或降落時前進的方向<br>
                            帶著飛行的基本概念 <br>
                            和美國當地連線 <br>
                            直接看看飛機的本體構造 <br>
                            有問題可以直接提問 <br>
                            得到解答 <br>
                            在哲哲學苑 <br>
                            多元的英語學習方式 <br>
                            讓不同程度的孩子 <br>
                            得到活用的成效 <br>
                            以及豐富的體驗 <br>
                         </p>
                    </div>
                </div>



			</div>
		</div>

	</div>

</div>



<div class="clear"></div>



<div id="notice-popup-b3" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/zpcmvfD_wJ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


 <script>
    $(function(){
         $('.js-open-video-b3').magnificPopup({
            items: {
                src: '#notice-popup-b3',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });


    });
</script>



{% endblock %}