{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_wls"></div>


<div class="main_content">

<!-- aside -->
{% include '_partial/aside_wisdom.twig' %}


	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">

				<div class="summer_castle">
					
					<div class="text">
						<img src="img/wisdom/wisdom_logo-2.png" alt="">
						<div class="red_line"></div>
						<p>哲哲學苑林口校區我們已於2020年6月19完成立案囉!</p> <br>
						<p>哲哲學苑想帶孩子看見不一樣的世界。</p>
						<p>如果學校是帶孩子奔向未來的入口，</p>
						<p>我們希望是幫孩子裝上翅膀的那雙手。</p>
						<p>補習事業並不代表著，就得是填鴨與無趣，</p>
						<p>我們想帶孩子們用課後的時間，</p>
						<p>看見不一樣的可能！</p>
						<p>哲哲，</p>
						<p>想要帶孩子們，走向世界</p>
						<br><br>

					</div>

					<div class="contact_us-in">

						<h6>CONTACT US</h6>

						<div class="c-row">
							<i class="fas fa-phone-alt"></i> 03-5783937
						</div>
						<div class="c-row">
							<a href="https://www.facebook.com/%E5%93%B2%E5%93%B2%E5%AD%B8%E8%8B%91-Wisdom-language-school-104223541237060
" target="_blank"> <i class="fab fa-facebook-f"></i>  哲哲學苑（林口校區）</a>
						</div>
						
						<div class="c-row">
							  <i class="fas fa-map-marker-alt"></i>  300新竹市東區光復路一段651號
						</div>	

					
						</div>

					</div>

					<div class="seminar ">
						<div class="main_page_slide slider">
							<a class="summer_camp-01 js-open-video-4" >
								<img src="img/wisdom/wisdom-linkou_01.jpg" alt="">
							</a>
							<a class="summer_camp-02 js-open-video-1" >
								<img src="img/wisdom/wisdom-linkou_02.jpg" alt="">
							</a>
							<a class="summer_camp-03 js-open-video-2" >
								<img src="img/wisdom/wisdom-linkou_03.jpg" alt="">
							</a>
							
						</div>
					</div>

			</div>
		</div>

	</div>
	



</div>




<div class="clear"></div>









{% endblock %}