{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
    {% include '_partial/aside_wisdom.twig' %}


<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				 <a href="wisdom.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>照片</h6>
				</div>

			

				

                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b1 hover-finger" >
                            <div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="http://i3.ytimg.com/vi/MZ1hUMO0O1I/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>2020/7/23 <br>美語STEAM形狀與建築結構</h5>
                        <p>你曾經想過為什麼建築物可以穩固地站立嗎？
                            形狀又和建築結構有什麼關係？
                            不同的形狀在建築物上會有什麼功能？
                            哪一種形狀是建築師眼中結構萬靈丹？
                            不同於以往的美語學習模式，
                            老師大量的對話及提問，
                            刺激孩子對美語「聽」的能力，
                            因為是一堂試上課程，
                            對不常沉浸在全美環境的孩子是個挑戰。
                         </p>
                    </div>
                </div>
                

                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd summer_camp-01 hover-finger">
                             <img src="img/wisdom/202007class-s.jpg" alt="">
                        </div>
                     
                    </div>
                    <div class="t-text">
                       
                    </div>
                </div>




                
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="video_item js-open-video-b2 hover-finger" >
                            <div class="play_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100px" height="100px" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M238.23 342.43l89.09-74.13a16 16 0 0 0 0-24.6l-89.09-74.13A16 16 0 0 0 212 181.86v148.28a16 16 0 0 0 26.23 12.29z" fill="currentColor"/><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192s192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </div>
                            <img src="http://i3.ytimg.com/vi/C6mjecbIiiM/hqdefault.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        <h5>2020/7/11 <br>法國藝術老師的STEAM光影藝術+科學體驗活動</h5>
                        <p>利用光源和影子，
                            觀察、發現光源遠近和影子的變化；
                            對稱的概念，
                            創造畫面的平衡感；
                            精緻雕花也可以藉由生活小物替代！
                            課程中聯想思考的擴展，獨創性的發揮，
                            老師一步步引導和鼓勵，
                            讓原本習慣依樣畫葫蘆的孩子，
                            從「我不知道！」、「我不會！」的反應，
                            找到自信，能勇敢嘗試，
                            做出專屬於自己的作品，
                            還有孩子自主地賦予作品生命，
                            創造故事情節。
                            感謝老師的耐心及等待，
                            讓我們看見每個孩子不同的特質及可能！
                         </p>
                    </div>
                </div>
                
                
	
			</div>
		</div>

	</div>

</div>



<div class="clear"></div>

<div id="notice-popup-b2" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/C6mjecbIiiM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/MZ1hUMO0O1I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="summer_camp-01" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/202007class.jpg" alt="">
    </div>
</div>

 <script>
    $(function(){
        $('.js-open-video-b2').magnificPopup({
            items: {
                src: '#notice-popup-b2',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.js-open-video-b1').magnificPopup({
            items: {
                src: '#notice-popup-b1',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.summer_camp-01').magnificPopup({
            items: {
                src: '#summer_camp-01',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

    });
</script>



{% endblock %}