{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner product_summer_castle"></div>


<div class="main_content">

<!-- aside -->
    {% include '_partial/aside_wisdom.twig' %}




<!-- content -->
	<div class="content">
		<div class="service_detail">
			<div class="service_detail_content">
				<a href="wisdom.html" class="goback">
                    <i class="fas fa-redo"></i> 
                    <p>返</p>
                    <p>回</p>
                </a>
				<div class="seminar ">
					<h6>寒暑假營隊</h6>
				</div>

				
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd lb-2022feb-10 hover-finger">
                            <img src="img/wisdom/2022_feb/feb10s.jpg" alt="">
                        </div>
                        <div class="img_item-sd lb-2022feb-11 hover-finger">
                            <img src="img/wisdom/2022_feb/feb11s.jpg" alt="">
                        </div>
                        <div class="img_item-sd lb-2022feb-12 hover-finger">
                            <img src="img/wisdom/2022_feb/feb12s.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        
                        <p>與自然共舞冬令營<br>
                            你還記得蝴蝶的寶寶並不一定都有毛，所以不叫毛毛蟲，而是叫幼蟲嗎？<br>
                            今天認識了蝴蝶的生活史與觀察蝴蝶標本、幼蟲，並學習大鳳蝶的順口溜。<br>
                            還進行了蝴蝶剪紙操作對稱概念，孩子們都專注的執行並發揮自己的創造力彩繪。</p>
                    </div>
                </div>
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd lb-2022feb-13 hover-finger">
                            <img src="img/wisdom/2022_feb/feb13s.jpg" alt="">
                        </div>
                        <div class="img_item-sd lb-2022feb-14 hover-finger">
                            <img src="img/wisdom/2022_feb/feb14s.jpg" alt="">
                        </div>
                        <div class="img_item-sd lb-2022feb-15 hover-finger">
                            <img src="img/wisdom/2022_feb/feb15s.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        
                        <p>與自然共舞冬令營<br>
                            今天進行植物染色實驗-天然酸鹼指示劑蝶豆花，運用了視覺觀察、嗅覺體驗、味覺品嚐。
                            也將三合院筆記本進行加工，並貼上營隊照片做紀念。</p>
                    </div>
                </div>
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd lb-2022feb-16 hover-finger">
                            <img src="img/wisdom/2022_feb/feb16s.jpg" alt="">
                        </div>
                        <div class="img_item-sd lb-2022feb-17 hover-finger">
                            <img src="img/wisdom/2022_feb/feb17s.jpg" alt="">
                        </div>
                        <div class="img_item-sd lb-2022feb-18 hover-finger">
                            <img src="img/wisdom/2022_feb/feb18s.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        
                        <p>美語甜岩冬令營 <br>
                            今天利用攻佔城堡的遊戲來練習橫渡的模式！孩子們已經越來越不害怕囉！<br>
                            
                            下午各小組帶著英文課練習完的字卡，一起出發去尋寶！<br>
                            透過自己的努力找到烘培課的材料，孩子們的觀察力和解決事情的能力都一級棒喔！</p>
                    </div>
                </div>
                <div class="seminar ">
                    <div class="slick_photo slider">
                        <div class="img_item-sd lb-2022feb-19 hover-finger">
                            <img src="img/wisdom/2022_feb/feb19s.jpg" alt="">
                        </div>
                        <div class="img_item-sd lb-2022feb-20 hover-finger">
                            <img src="img/wisdom/2022_feb/feb20s.jpg" alt="">
                        </div>
                        <div class="img_item-sd lb-2022feb-21 hover-finger">
                            <img src="img/wisdom/2022_feb/feb21s.jpg" alt="">
                        </div>
                        <div class="img_item-sd lb-2022feb-22 hover-finger">
                            <img src="img/wisdom/2022_feb/feb22s.jpg" alt="">
                        </div>
                    </div>
                    <div class="t-text">
                        
                        <p>美語甜岩冬令營<br>
                            終於穿上座帶、掛上吊繩、向上衝刺啦！
                            大家都很勇敢的挑戰，甚至有不少人挑戰成功喔！<br>
                            
                            下午跟著Tr.Stephan做了四種口味的烤餅乾。
                            精密測量、耐心調整、聽從指令、互相協助。<br>
                            失敗了也別氣餒！自己做出來的餅乾是不是特別美味呢？</p>
                    </div>
                </div>
    


					
					

			</div>
		</div>

	</div>

</div>



<div class="clear"></div>
<div id="lb-2022feb-10" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb10.jpg" alt="">
    </div>
</div>
<div id="lb-2022feb-11" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb11.jpg" alt="">
    </div>
</div>
<div id="lb-2022feb-12" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb12.jpg" alt="">
    </div>
</div>

<div id="lb-2022feb-13" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb13.jpg" alt="">
    </div>
</div>
<div id="lb-2022feb-14" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb14.jpg" alt="">
    </div>
</div>
<div id="lb-2022feb-15" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb15.jpg" alt="">
    </div>
</div>

<div id="lb-2022feb-16" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb16.jpg" alt="">
    </div>
</div>
<div id="lb-2022feb-17" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb17.jpg" alt="">
    </div>
</div>
<div id="lb-2022feb-18" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb18.jpg" alt="">
    </div>
</div>


<div id="lb-2022feb-19" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb19.jpg" alt="">
    </div>
</div>
<div id="lb-2022feb-20" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb20.jpg" alt="">
    </div>
</div>
<div id="lb-2022feb-21" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb21.jpg" alt="">
    </div>
</div>
<div id="lb-2022feb-22" class="notice-popup4 mfp-hide">
    <div class="notice-popup_content">
        <img src="img/wisdom/2022_feb/feb22.jpg" alt="">
    </div>
</div>






<script>
    $(function(){
        $('.lb-2022feb-10').magnificPopup({
            items: {
                src: '#lb-2022feb-10',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022feb-11').magnificPopup({
            items: {
                src: '#lb-2022feb-11',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022feb-12').magnificPopup({
            items: {
                src: '#lb-2022feb-12',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022feb-13').magnificPopup({
            items: {
                src: '#lb-2022feb-13',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022feb-14').magnificPopup({
            items: {
                src: '#lb-2022feb-14',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022feb-15').magnificPopup({
            items: {
                src: '#lb-2022feb-15',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });

        $('.lb-2022feb-16').magnificPopup({
            items: {
                src: '#lb-2022feb-16',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022feb-17').magnificPopup({
            items: {
                src: '#lb-2022feb-17',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022feb-18').magnificPopup({
            items: {
                src: '#lb-2022feb-18',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });



        $('.lb-2022feb-19').magnificPopup({
            items: {
                src: '#lb-2022feb-19',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022feb-20').magnificPopup({
            items: {
                src: '#lb-2022feb-20',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022feb-21').magnificPopup({
            items: {
                src: '#lb-2022feb-21',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });
        $('.lb-2022feb-22').magnificPopup({
            items: {
                src: '#lb-2022feb-22',
                type: 'inline'
            },
            mainClass: 'mfp-fade',
            removalDelay: 300,
            midClick: true
        });


        



    });
</script>



{% endblock %}