<div class="aside">
	<div class="product_menu">
		<div class="product_title">課程項目 <i class="fas fa-angle-down"></i></div>
		<div class="product_list ">
			<ul>
				<li><a href="course_detail_01.html">師資培育養成</a></li>
				<li><a href="course_detail_02.html">產品推廣行銷課程</a></li>
				<li><a href="course_detail_03.html">文化產業課程培育</a></li>
				<li><a href="course_detail_04.html">教育諮詢顧問</a></li>
			</ul>
		</div>
	</div>

	<div class="product_menu">
		<div class="product_title">活動項目 <i class="fas fa-angle-down"></i></div>
		<div class="product_list">
			<ul>
				<li><a href="activity_detail_01.html">學生營隊學習</a></li>
				<li><a href="activity_detail_02.html">親子遊學訪學</a></li>
				<li><a href="activity_detail_03.html">文化交流參訪</a></li>
			</ul>
		</div>
	</div>

	<!-- <div class="product_menu">
		<div class="product_title">相關企業 <i class="fas fa-angle-down"></i></div>
		<div class="product_list">
			<ul>
				<li><a href="summer_castle.html">夏哲森Summer Castle幼兒園-新竹校區</a></li>
				<li><a href="summer_castle-linkou.html">夏哲森Summer Castle幼稚園－林口校區</a></li>
				<li><a href="wisdom.html">哲哲學苑－新竹校區</a></li>
				<li><a href="wisdom-linkou.html">哲哲學苑－林口校區（籌備中）</a></li>
				<li><a href="activity_hightlights_04.html">天使之丘托嬰中心（即將立案）</a></li>

			</ul>
		</div>
	</div> -->
</div>

