<div class="aside">
	<div class="product_menu">
		<div class="product_title">課程項目 <i class="fas fa-angle-down"></i></div>
		<div class="product_list ">
			<ul>
				<li><a href="course_detail_01.html">師資培育養成</a></li>
				<li><a href="course_detail_02.html">產品推廣行銷課程</a></li>
				<li><a href="course_detail_03.html">文化產業課程培育</a></li>
				<li><a href="course_detail_04.html">教育諮詢顧問</a></li>
			</ul>
		</div>
	</div>

	<div class="product_menu">
		<div class="product_title">活動項目 <i class="fas fa-angle-down"></i></div>
		<div class="product_list">
			<ul>
				<li><a href="activity_detail_01.html">學生營隊學習</a></li>
				<li><a href="activity_detail_02.html">親子遊學訪學</a></li>
				<li><a href="activity_detail_03.html">文化交流參訪</a></li>
			</ul>
		</div>
	</div>

	<div class="product_menu">
		<div class="product_title">夏哲森Summer Castle <br>幼兒園 <i class="fas fa-angle-down"></i></div>
		<div class="product_list">
			<ul>
				<li><a href="activity_hightlights_01.html">學生營隊學習</a></li>
				<li><a href="activity_hightlights_02.html">親子遊學訪學</a></li>
				<li><a href="activity_hightlights_03.html">文化交流參訪</a></li>
			</ul>
		</div>
	</div>
</div>