
<!-- popup-video -->

<div id="notice-popup-01" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
		<iframe src="https://www.youtube.com/embed/A9ME_6NOcdo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-02" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
		<iframe  src="https://www.youtube.com/embed/YMBibMfP2cM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="notice-popup-03" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

	<iframe src="https://www.youtube.com/embed/1D4RES3gAmw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>
<div id="notice-popup-04" class="notice-popup mfp-hide">
    <div class="notice-popup_content">

	<iframe src="https://www.youtube.com/embed/tCpl5s65BTI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>



<div id="notice-popup-b1" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/CyV6jQGTcWk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b2" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/ia_tcjGFLpQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b3" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/1D4RES3gAmw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b4" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/Qlhe0yx1HOM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b5" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/Ps0FU-YzV1A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b6" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/ObBL7yg7rOg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b7" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
	<iframe src="https://www.youtube.com/embed/r57jK9ICSnc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b8" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/4O1l3lwcBbg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div id="notice-popup-b9" class="notice-popup mfp-hide">
    <div class="notice-popup_content">
    <iframe src="https://www.youtube.com/embed/dKmLdsPdEWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

 <script>
        $(function(){
            $('.js-open-video-1').magnificPopup({
                items: {
                    src: '#notice-popup-01',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

             $('.js-open-video-2').magnificPopup({
                items: {
                    src: '#notice-popup-02',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-3').magnificPopup({
                items: {
                    src: '#notice-popup-03',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

             $('.js-open-video-4').magnificPopup({
                items: {
                    src: '#notice-popup-04',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-b1').magnificPopup({
                items: {
                    src: '#notice-popup-b1',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });
            $('.js-open-video-b2').magnificPopup({
                items: {
                    src: '#notice-popup-b2',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });
            $('.js-open-video-b3').magnificPopup({
                items: {
                    src: '#notice-popup-b3',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });
            $('.js-open-video-b4').magnificPopup({
                items: {
                    src: '#notice-popup-b4',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-b5').magnificPopup({
                items: {
                    src: '#notice-popup-b5',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-b6').magnificPopup({
                items: {
                    src: '#notice-popup-b6',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-b7').magnificPopup({
                items: {
                    src: '#notice-popup-b7',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-b8').magnificPopup({
                items: {
                    src: '#notice-popup-b8',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });

            $('.js-open-video-b9').magnificPopup({
                items: {
                    src: '#notice-popup-b9',
                    type: 'inline'
                },
                mainClass: 'mfp-fade',
                removalDelay: 300,
                midClick: true
            });


        });
    </script>

